
@import "reset.css";
$fontSize:10;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
	font-size: 10px;
}
body {
  position: relative;
  overflow-x:hidden;
   font-family: "Hiragino Sans GB", "Microsoft Yahei", "arial";
  background-color: #fff;
  color:#aaa;
}
input,select{
	-webkit-appearance:none
}
.clearfix{
  zoom:1;
}
.clearfix:before,.clearfix:after{
  content:"";
  display: table;
}
.clearfix:after{clear:both;} 
//index.html
.container{
	max-width:90%;
	margin: 0 auto;
	position:relative;
}
#index-header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding-top:10px;
	z-index:100;

}
.logo{
 	display: block;
 	width:185rem/$fontSize;
 	img{
 		width:100%;
 		max-width:352px;
 		height: auto;
 		display: block;
 	}
 }
#header{
	width:100%;
	background-color:#f60;
	 padding-top:10px;
	 .container{
	 	padding-bottom:10px;
	 }
	 
	 .btn-open{
	 	position: absolute;
	 	right:0;
	 	top:50%;
	 	transform:translateY(-70%);
	 	-webkit-transform:translateY(-70%);
	 	-o-transform:translateY(-70%);
	 	cursor: pointer;
	 	span{
	 		display: block;
	 		position: relative;
	 		margin:5px 0;
	 		width:30rem/$fontSize;
	 		height: 3px;
	 		background-color:rgba(255,255,255,1);
	 		background-color:rgba(255,255,255,.5);
	 		transition:1s all ease;
			-webkit-transition: 1s all ease;
			-o-transition: 1s all ease;
	 	}

	 	// &:hover{
	 	// 	span{
	 	// 		background-color:rgba(255,255,255,.3);
	 	// 	}
	 	// }
	 }
	 .active{
	 	span:nth-of-type(1){
	 		  transform: rotate(-45deg);
	 		  -webkit-transform: rotate(-45deg);
	 		  -o-transform: rotate(-45deg);
			  left: 0;
			    top: 8px;
	 	}
	 	span:nth-of-type(2){
	 		opacity:0;
	 	}
	 	span:nth-of-type(3){
	 		  transform: rotate(45deg);
	 		  -webkit-transform: rotate(45deg);
	 		  -o-transform: rotate(45deg);
	 		    top: -6px
	 	}
	 }
	 h3{
	 	color:#fff;
	 	text-align: center;
	 	font-size: 20rem/$fontSize;
	 }
	 .back{
	 	position:absolute;
	 	  width: 1rem;
		  height: 1.3rem;
		  top: 50%;
	 	transform: translateY(-70%);
 		-webkit-transform:translateY(-70%);
 		-o-webkit-transform:translateY(-70%);
	 	&:before{
	 		position:absolute;
	 		top:0;
	 		left: 0;
	 		content:"";
	 		width:10rem/$fontSize;
	 		height: 10rem/$fontSize;
	 		border-left:1px solid #fff;
	 		border-top:1px solid #fff;
	 		transform: rotate(-45deg);
	 		-webkit-transform:rotate(-45deg);
	 		-o-webkit-transform:rotate(-45deg);
	 	}
	 }
	 .dropMenu{
	 	position:relative;
	 	background-color:#fff;
	 	color:#f60;
	 	display: none;
	 	li{
	 		list-style: none;
	 		border-bottom:1px solid #f60;
	 		display: block;
	 		text-align:center;
	 		&:first-child{
	 			padding:10px 0;
	 			a{
	 				display: inline;
	 			}
	 		}
	 		&:last-child{
	 			border-bottom:none;
	 		}
	 	}
	 	p{
	 		font-size:16rem/$fontSize;
	 	}
	 	a{
	 		font-size: 16rem/$fontSize;
	 		padding:10px 0;
			color:#f60;
			text-decoration: none;
			 line-height: 16rem/$fontSize;
			display: block;
	 	}
	 }

}

#banner{
	overflow-x:hidden;
	max-width:100%;
	position:relative;
	.container{
		max-width:100%;
	}
	li{
		display: block;
		width:100%;
	}
	img{
		display: block;
		width:100%;
		height:auto;
	}
}
.detail-banner{
	width:100%;
	img{
		width:100%;
		height:auto;
		display: block;
	}
}
.nav{
  background-color:#fff;
  width: 100%;
}
.nav-feature{
  margin:0 auto;
  max-width:1200px;
  width: 100%;
  padding:1rem 0;

}
.nav-feature li{
  float: left;
  width: 25%;
  text-align: center;

    padding:  0 5rem/$fontSize;
}
.nav-feature li:nth-of-type(2){
    // margin:0 146px;
}
.nav-feature li:nth-of-type(3){
  // margin-right: 146px;
}
.nav-feature h2{
  font-size:15rem/$fontSize;
  font-family:'FangSong'; 
}
.nav-feature span{
  display: block;
  font-size:10rem/$fontSize;
  font-family:'FangSong'; 
}
.nav-feature hr{
  width: 100%;
  height: 1px;
  background-color:#666;
  position: relative;
  margin:18px 0;
  z-index:1;
}
.nav-feature hr:before{
     content: "";
  position: absolute;
  width: 30px;
  height: 20px;
  background-color: #fff;
  top: -10px;
  left: 50%;
  margin-left: -15px;
  z-index: 10;
}
.nav-feature hr:after{
     content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  background-color: rgba(51,51,51,.5);
  z-index: 20;
  width: 20px;
  height: 20px;
}
.nav-feature p{
  font-size:10rem/$fontSize;
}
#main{
	width:100%;
	font-size:12rem/$fontSize;
	padding-top:10rem/$fontSize;
	.container{
		max-width:100%;
	}
	h3{
		text-align: center;
		font-weight: 500;
		font-size: 25rem/$fontSize;
	}
	.item{
		width:96%;
		max-width:468px;
		margin:0 auto;
		img{
			width:100%;
			height: auto;
			display: block;
			
			margin: 0 auto;
		}
	}
	.des{
		margin:10rem/$fontSize;
		span{
			position:relative;
			padding-top:10rem/$fontSize;
			padding-bottom:10rem/$fontSize;
			  max-width: 60%;
			  overflow: hidden;
			  text-overflow: ellipsis;
			  white-space: nowrap;
		}
		i{
			position:absolute;
			width:30px;
			height:100%;
			background-image:url(/image/house-detail-icon.png);
			background-repeat: no-repeat;
	  		background-size: 180px auto;
	 		 top: 0;
		}
	}
	.site{
		float: left;
		padding-left: 30px;
	}
	.ico-site{
		background-position:-106px center ;
  		  left: 0;	
  	}
	.ico-price{
		   background-size: 140px auto !important;
		background-position:-10px center ;
  		  left: 0;
	}
	.price{
		float: right;
		padding-left: 30px;
	}
	.form-pic{
		background:url(/image/logottt.jpg) no-repeat center;
		background-size:100%;
		width: 34%;
		height: 96px;
  		display: inline-block;
	}

	form{
		text-align: center;
		div{
			  max-width: 500px;
 			 padding: 10rem/$fontSize 0;
 			 margin: 0 auto;
 			 position:relative;
		}
		input{
			  height: 42px;
			  font-size: 10rem/$fontSize;
			  width:200rem/$fontSize;
			  line-height: 42px;
			  padding: 0 15px;
			  outline: 0;
			  border: 1px solid rgba(255,255,255,.4);
			  border-radius: 3px;
			  text-align: center;
			  -webkit-transition-duration: .25s;
			  transition-duration: .25s;
			  font-weight: 300;
			   border: 1px solid #aaa;

		}
	}
	.form-apt{
		div{
			padding:20px;
			margin:0 auto;
		}
		font-size: 14rem/$fontSize;
		select,input{
			text-align: left;
			width:50%;
			line-height:34px;
			height:34px;
			margin-left: 16rem/$fontSize;
			text-indent:2rem;
		}
	}
	.forget{
		width:200rem/$fontSize;
		a{
			text-decoration: none;
			font-size: 14rem/$fontSize;
			color:#aaa;
		}
	}
	.input-mess{
		width:200rem/$fontSize;
	}
	.message{
		width:50%;
		float:left;
		
	}
	.get-code{
		float:right;
  		// margin-top:-13rem/$fontSize;
		text-decoration: none;
		color:#fff;
		width:90rem/$fontSize;
		line-height: 42px;
		border-radius:4px;
		font-size: 10rem/$fontSize;
		background-color:rgba(0, 153, 255, 0.5);
	}
	.qc-reg{
		float: left;
	}
	.fg-pass{
		float: right;
	}

	.btn-sub{
		width:200rem/$fontSize;
		line-height: 42rem/$fontSize;
		text-align: center;
		background-color:#09f;
		color:#fff;
		border:none;
		outline:none;
		font-size:15/$fontSize; 
	}
}

#foot{
	width:100%;
	padding:20rem/$fontSize 0;
	color:#fff;
	background-color:#696969;
	.copyRight{
		float: left;
	}
	.right{
		float: right;
	}
	a{
		color:#fff;
		padding: 0 5rem/$fontSize;
		border-right:1px solid #fff;
		text-decoration: none;
		&:last-child{
			border-right:none;
		}
	}
}

#shadow{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	// background-color:#000;
	// background-color:rgba(0,0,0,.5);
	display:none;
	.sider{
		position:absolute;
		right: 0;
		top:0;
		width:40%;
		// background-color:#131312;
		background-color:rgba(0,0,0,.8);
		height: 100%;
		font-size: 16rem/$fontSize;
		color:#fff;
	}
	a{
		font-size: 16rem/$fontSize;
		color:#fff;
		display: block;
		text-decoration: none;
		 line-height: 30rem/$fontSize;
	}
	.hp{
		a{
			display: inline-block;
		}
	}
	.no-login,.alr-login{
		margin-top:40rem/$fontSize;
		padding-left:20rem/$fontSize;
		
	}
	.alr-login{
		display: none;
	}
	.center{
		text-indent: 20rem/$fontSize;
	}
}

#house-des{
	  color: #aaa;
	 .title{
	 	text-align: left;
	 	color:#aaa;
	 	font-size: 12rem/$fontSize;
	 	margin: 10rem/$fontSize 0;
	 	padding:2px 6px;
	 	position:relative;
	 	&:before{
	 		position:absolute;
	 		left: 0;
	 		top:0;
	 		content:"";
	 		width:3px;
	 		height:100%;
	 		background-color:#f60;
	 	}
	 }
	.house-title{
		  width: 100%;
		  font-weight: 500;
		  text-align: center;
		  p{
		  	  color: #999;
			  font-size: 18rem/$fontSize;
			  display: inline-block;
			  vertical-align: middle;
		  }
		  span{
		  	  display: inline-block;
			  vertical-align: middle;
			  padding: 2px 4px ;
			  border: 1px solid #ff7519;
			  border-radius: 4px;
			  color: #ff8533;
			  font-size: 8rem/$fontSize;
		  }
	}
	.others{
		p{
			  font-size: 10rem/$fontSize;
			  padding:  2px 4px;
			  letter-spacing: 1px;
		}
		ul{
			display: block;
			width:100%;
		}
		li{
			position:relative;
			text-align: center;
		}
		strong{
			color:#ff8533;
			font-size: 18rem/$fontSize;
		}
	}
	.keywords{
		p{
			display: inline-block;
		}
	}
	.configs{
		margin:10rem/$fontSize 0 20rem/$fontSize;
		width: 100%;
		text-align: center;
	}
	.config{
		  margin: 0 5rem/$fontSize;;
		width: 40rem/$fontSize;
	  height: 40rem/$fontSize;
	  display: inline-block;
	  border: 1px solid #d3d3d3;
	  border-radius: 40rem/$fontSize;
	  position: relative;
	  span{
	  	  position: absolute;
		  width: 100%;
		  font-size: 1rem;
		  color: #aaa;
		  left: 0;
		  bottom: -20rem/$fontSize;
	  }
	}
	.bed {
	  background: url(/image/house-config-icon.jpg) center 0 no-repeat #fff;
	  background-size:100% auto;
	}
	.tv {
	  background: url(/image/house-config-icon.jpg) center 20.72% no-repeat #fff;
	  background-size:100% auto;
	}
	.air {
	  background: url(/image/house-config-icon.jpg) center 39.72%  no-repeat #fff;
	  background-size:100% auto;
	}
	.washer {
	  background: url(/image/house-config-icon.jpg) center 60.72%  no-repeat #fff;
	  background-size:100% auto;
	}
	.wifi {
	  background: url(/image/house-config-icon.jpg) center 80.72%  no-repeat #fff;
	  background-size:100% auto;
	}
	.hotWrater {
	  background: url(/image/house-config-icon.jpg) center 98.72%  no-repeat #fff;
	  background-size:100% auto;
	}
	.imgs{
		img{
			width:80%;
			height: auto;
			display: block;
			margin:10px auto;
		}
	}
	.table{
		display: table;

	}
	.table-cell{
		width:50%;
		display: table-cell;
		vertical-align: middle;
	}
	.Housekeeper{
		color:#aaa;
		font-size: 10rem/$fontSize;
		img{
			width:100%;
			height:auto;
		}
		span{
			display: block;
			
			text-indent:2rem;
			line-height: 26rem/$fontSize;
		}
	}
	.keeper{
		margin:10px 0;
		text-align: center;
		line-height: 16rem/$fontSize;
		letter-spacing: 1px;
	}
}

.message-edit {
  margin: 0 auto;
  margin-bottom: 10px;
}
.message-edit form {
  border: 1px solid #f0f0f0;
}
.message-edit legend {
  display: block;
  width: 100%;
  line-height: 62px;
  padding-left: 30px;
  border-bottom: 1px solid #f0f0f0;
  color: #666;
}
.message-edit fieldset {
  padding-left: 30px;
  border: none;
}
.form-group {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}
.form-group label {
  font-size: 12px;
  color: #999;
  line-height: 44px;
  margin-right: 27px;
}
.form-group input[type='text'] {
  width: 60%;
  border: none;
  font-size: 12px;
  color: #333;
  vertical-align: middle;
  outline: none;
}
.form-group input[type='radio'] {
  vertical-align: middle;
  font-size: 12px;
  color: #333;
}
.choose-school,
.choose-interset {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
.gj,
.sf,
.list,
.interset-type {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: none;
  max-height: 98px;
  overflow-y: scroll;
}
.gj a,
.sf a,
.list a,
.interset-type a {
  float: left;
  color: #666666;
  font-size: 12px;
  margin-right: 15px;
}

.show-table{
  width:100%;
  overflow: hidden;
}
.show-table input{
  width:50px;
}
.show-table table{
  width:100%;
  font-size: 13px;
  color:#666;
  margin-top:40px;
   border-left:1px solid #ebebeb;
  border-top:1px solid #ebebeb;
  table-layout: fixed;
}
.show-table table tfoot td{
  padding-top:45px;
}
.show-table td,.show-table th{
  padding:10px 0;
  border-right:1px solid #ebebeb;
  border-bottom:1px solid #ebebeb;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.show-table a{
	text-decoration:none;
  color:#666;
}
.disabled{
    cursor: no-drop;
}
.show-table .pre{
  margin-right: 44px
}
.show-table .next{

  margin-left: 44px;
  margin-right: 24px;
}
.show-table .trun{
  position: relative;
}

#menu{
	  position: fixed;
  right: 15px;
  bottom: 20px;
  background-color: #f60;
  font-size: 1rem;
  border-radius: 40px;
  z-index:99;
  color: #fff;
  
	p{
		position:relative;
		z-index:90;
		  width: 40px;
		  height: 40px;
		  line-height: 40px;
		  text-align: center;
		  cursor: pointer;
	}

	div{
		position:absolute;
		z-index:10;
		top:0;
		left:0;
		opacity:0;
		transition:.5s all ease;
	  -webkit-transition:.5s all ease;
	  -o-transition:.5s all ease;
	    width: 20rem;
	    transform: translateX(0);
  		-webkit-transform: translateX(0);
  		-o-transform: translateX(0);
	}
}
#menu.active div{
	opacity: 1;
	display: block ;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-o-transform: translateX(-100%);
}
.menu-body{
	  background-color: #f60;
	    border-radius: 2rem;
	a{
		text-decoration: none;
	  padding: 0 10px;
	  height: 40px;
	  line-height: 40px;
	  color: #fff;
	  display: inline-block;
	  width: 50%;
	  float: left;
	  text-align: center;

	  &:nth-of-type(1){
	  	border-right:1px solid rgba(255,255,255,.5);
	  	&:before{
	  		position:absolute;
	  		right: 0;
	  		top:50%;
	  		width:1px;
	  		height: 20px;
	  		margin-top:-10px;

	  	}
	  }
	}

}
#error{
	position:absolute;
	display:none;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	top:0;
	color:red;
	font-size:12rem/$fontSize;
}
#message-modal{
    position: fixed;
    right: 0;
    z-index: 1000;
    font-size: 18px;
    color: #666;
    bottom: 13px;
}
#message-modal span{
  display: block;
  line-height: 40px;
  text-indent:50px;
}
.icon{
  height: 40px;
  width: 40px;
  position: absolute;
  left: 10px;
  top: 0px;;
  background: url(/image/message-icon.gif) no-repeat;
   background-size: 68%;
}
.icon-no-login{
   background-position:0 -13px;
}
.icon-no-perfect{
   background-position:0 -102px;
}
.message-no-login,.message-no-perfect{
    position: relative;
    padding-right: 10px;
  background-color:#fff;
  display: none;
}
@media screen and (min-width:480px) and (max-width:693px){
	
	html{font-size:15px}
}
@media screen and (min-width:640px) and (max-width:719px){
	
	html{font-size:20px}
}
@media screen and (min-width:720px) and (max-width:749px){
	
	html{font-size:22.5px}
}
@media screen and (min-width:750px) and (max-width:799px){
	
	html{font-size:23.5px}
}
@media screen and (min-width:800px) and (max-width:959px){
	
	html{font-size:25px}
}
@media screen and (min-width:960px) and (max-width:1079px){
	
	html{font-size:30px}
}
@media screen and (min-width:1080px){
	
	html{font-size:32px}
}

@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  50%{
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100%{
  	opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeInAndOut {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  50%{
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100%{
  	opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.fadeInAndOut{
  -webkit-animation-name: fadeInAndOut;
  animation-name: fadeInAndOut;
}
.animated-fadeInAndOut {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}