<% include manager-includes/style.html %>
<div id="container">

<ul id="anitOut"> 
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="login" id="login">
    <form action="loginManager" method="post" id="managerForm">
        <legend>
            登录
        </legend>
       <input type="text" name="username" password="password" placeholder="用户名">
        <input type="password" name="password" placeholder="密码">
        <button type="submit" id="btn-login" data-action="zmb-login">登录</button>

         <% if( err !='' ){ %>
            <div  >
                 <p class="error" id="error" style="display:block"><%=err %></p>
             </div>
        <% }else{ %>
            <div >
                 <p class="error" id="error">用户名不能空</p>
             </div>
        <% } %>
    </form>
    
</div>
</div>
<% include manager-includes/foot.html %>
<script type="text/javascript">
    kvm.module.invoke('/js/lib/ZMB-login.js');
</script>
