
<% include includes/head.html %>
	<div id="roomShow" >
		<div class="bg">
			<img src="<%=user.bgimg %>" width="1897" alt="" title=""/>
			<form method="post" name="form" encType="multipart/form-data" title="改变背景" action="uploadbgImg">
				<input type="hidden" name="url" value="/pc/personCenter"/>
				<input type="file" name="bgimg" accept="image/*" title="改变背景" id="changeBg"/>
			</form>
		</div>
		<div class="jumbotron-des">
			<div class="jump-middle">
				<h3><%=personinfo.name %></h3>
				<p><%=personinfo.sign %></p>
			</div>
		</div>
	</div>
	<section class="main" id="main" style="background-color:#fff">
		<div >
			<div class="center-choose">
				<a class="me " href="/pc/personCenterMe">
					<i></i>
					<p>我</p>
				</a>
				<a class="message " href="/pc/personCenterMessage">
					<i></i>
					<p>消息</p>
				</a>
				<a class="appointment active" href="/pc/personCenter">
					<i></i>
					<p>预约</p>
					
				</a>
				<a class="collection" href="/pc/personCenterCollect">
					<i></i>
					<p>收藏</p>
					
				</a>
			</div>
			<div class="show-table">
				<table  border="0" cellpadding="0" cellspacing="0" bordercolor="#dedede">
						<thead>
							<tr>
								<th>预约号</th><th>公寓编号</th><th>客户姓名</th><th>联系方式</th><th>入住时间</th><th>提交时间</th><th>预约类型</th>
							</tr>
						</thead>
						<tbody>
						<% appoints.forEach(function(appoint){ %>
							<tr>
								<td><%=appoint._id %></td>
								<td>
									<% if( appoint.houseID ){ %>
										<%=appoint.houseID.bh %>
									<% }else{ %>
										<%=appoint.area %>
									<% } %>
									
								</td>
								<td><%=appoint.user %></td>
								<td><%=appoint.telephone %></td>
								<td><%=appoint.startTime %> -- <%=appoint.endTime %></td>
								<td><%=appoint.createTime %></td>
								<td><%=appoint.state %></td>
							</tr>
							<% }) %>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="7">
									
										<a 
										<% if( count != 1 ){ %>
										href="personCenter?count=<%= (parseInt(count)-1) %>" 
										<% }else{ %>
										href="javascript:void(0) %>" 
										<% } %>
										class="pre" >上一页</a> 
									

									<span><strong><%=count %></strong>/<%=all %></span> 
										<a  
										<% if( count != all ){ %>
											href="personCenter?count=<%= (parseInt(count)+1) %>" 
										<% }else{ %>
											href="javascript:void(0)" 
										<% } %>
										class="next" >下一页</a>
									
									 <input type="hidden" name="allnum" value="<%=all %>" /> 
									<input type="text" name="pagenum" value="" /> 
									<a class="trun" href="javascript:void(0)" class="trun-page" id="trun-page" data-action="turn-page">
										跳转
									</a>
									
								</td>
							</tr>
						</tfoot>
					</table>
				
			</div>	

			</div>
		</div>
	</section>

<% include includes/foot.html %>
<% include includes/script.html %>
<script type="text/javascript">
 	kvm.module.invoke("/js/lib/personCenter.js");
</script>
