
<% include includes/head.html %>
	<div id="roomShow" >
		<div class="bg">
			<img src="<%=user.bgimg %>" width="1897" alt="" title=""/>
			<form method="post" name="form" encType="multipart/form-data" title="改变背景" action="uploadbgImg">
				<input type="hidden" name="username" value="<%=user.username %>"/>
				<input type="hidden" name="url" value="/personCenterMessage"/>
				<input type="file" name="bgimg" accept="image/*" title="改变背景" id="changeBg"/>
			</form>
		</div>
		<div class="jumbotron-des">
			<div class="jump-middle">
				<h3><%=personinfo.name %></h3>
				<p><%=personinfo.sign %></p>
			</div>
		</div>
		
	</div>
	<section class="main" id="main" style="background-color:#fff">
		<div >
			<div class="center-choose">
				<a class="me " href="/pc/personCenterMe">
					<i></i>
					<p>我</p>
				</a>
				<a class="message active" href="/pc/personCenterMessage">
					<i></i>
					<p>消息</p>
				</a>
				<a class="appointment" href="/pc/personCenter">
					<i></i>
					<p>预约</p>
					
				</a>
				<a class="collection" href="/pc/personCenterCollect">
					<i></i>
					<p>收藏</p>
					
				</a>
			</div>
			<div class="center-message">
				<table border="0" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th colspan="2">
								消息
							</th>
						</tr>
					</thead>
					<tbody>
						<% messages.forEach(function(message){ %>
						<tr class="title">
							<td>
								<a href="#">
									<%=message.title  %>

									<% if( !message.isCheck ) {%>
									<strong>new</strong>
									<% } %>
								</a>
							</td>
							<td>
								<%=message.createTime  %>
							</td>
						</tr>
						<tr class="detail-mess">
							<td  colspan="2">
								<div>
									<p><%=message.content  %></p>
									<input type="hidden" name="_id" value="<%=message._id %>"/>
									<% if( !message.isCheck ) {%>
									<button class="check" data-action="check-message">确定查看</button>
									<% } %>
									
								</div>
							</td>
						</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</div>
	</section>

<% include includes/foot.html %>
<% include includes/script.html %>
<script type="text/javascript">
 	kvm.module.invoke("/js/lib/personCenterMessage.js");
</script>