
<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="大学生,创业,租房" />
	<meta name="description" content="租租侠"/>
	<!-- <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon"> -->
	<link href="/css/index.css" rel="stylesheet" type="text/css"/>

	<title><%= title %></title>
</head>

<body>


<!--  头部 -->
<header class="header" id="header">
	<div class="container">
		<div class="header-logo">
			<a href="/"><img src="/image/logo.png" title="租租侠" alt="租租侠" width="63" height="63"/></a>
			<span>
				<h3>租租侠</h3>
				<p>大学生创客聚合社区</p>
			</span>
		</div>
		<nav class="header-nav">
			<li><a href="#">我是租客</a></li>
			<li><a href="#">我是房东</a></li>
			<li><a href="#">常见问题</a></li>
		</nav>
		<div class="header-contact">
			<a href="" class="phone"><i class="icon-phone"></i>0571-88208777</a>
			<% if( user.username ) {%>
				<div class="peroson-info"  id="dropRole">
				<%= user.username %>
				<ul class="dropMenu" id="dropMenu">
					<li><a href="/personCenterMe">我</a></li>
					<li><a href="/personCenterMessage">消息</a></li>
					<li><a href="/personCenter">预约</a></li>
					<li><a href="#">收藏</a></li>
					<li><a href="#" id="loginOut">退出</a></li>
				</ul>
			</div>
			<a href="" class="qr">
			<% } else{ %>
				<a href="javascript:void(0)" class="login" id="login">登陆</a>
				<a href="javascript:void(0)" class="reg" id="reg">注册</a>
				<a href="" class="qr" style="border:none">
			<% } %>
			
				<i class="icon-qr"></i>
				<div class="qr-show">
					<i class="icon-arrow-top"></i>
					<img src="/image/qrcode.png" alt="租租侠" title="二维码" width="89" height="90"/>
					<p>微信扫一扫</p>
					<p>关注我们</p>
				</div>
			</a>
		</div>
	</div>
</header>