<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="大学生,创业,租房" />
    <meta name="description" content="租租侠"/>
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
    <link href="/css/ZMB.css?20151009" rel="stylesheet" type="text/css"/>
    <title><%= title %></title>
</head>

<body>


<div id="container">

<div id="anitOut" class="anitOut"> 

</div>

<div class="login" id="login">
    <form action="/loginManager" method="post" id="managerForm">
        <legend>
            登录
        </legend>

        <div class="form-group">
            <input type="text" name="username" placeholder="用户名" autocomplete="off"/>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="密码" autocomplete="off"/>
        </div>
        <div class="form-group submit">
            <button type="button" class="btn-login" id="btn-login">登录</button>
        </div>
    </form>
    <% if( err !='' ){ %>
        <div class="err" id="error" style="display:block">
             <p><%=err %></p>
         </div>
    <% }else{ %>
        <div class="err" id="error">
             <p>用户名不能空</p>
         </div>
    <% } %>
    
</div>
</div>

<!-- <button onclick="changeC();">换色</button> -->

<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script>

    $('#anitOut').height( $(window).height() );

    $('#login').css({
        'margin-top':'-'+$('#login').height()/2+'px',
        'margin-left':'-'+$('#login').width()/2+'px'
    });
</script>
<script src="/dist/js/cav.js?20151009"></script>

<script src="/dist/js/getStart.js?20151009"></script>
<script src="/dist/js/ZMB.js?20151009"></script>
</body>
</html>

