<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="大学生,创业,租房" />
    <meta name="description" content="租租侠"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
    <link href="/css/ZMB.css?201510111920" rel="stylesheet" type="text/css"/>
    <link href="/css/normalize.css" rel="stylesheet" type="text/css"/>
    <title><%= title %></title>
</head>

<body>


<div id="container">

<ul id="anitOut"> 
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="login" id="login">
    <form action="/loginManager" method="post" id="managerForm">
        <legend>
            登录
        </legend>
       <input type="text" name="username" password="password" placeholder="用户名">
        <input type="password" name="password" placeholder="密码">
        <button type="submit" id="login-button">登录</button>
    </form>
    <% if( err !='' ){ %>
        <div class="err" id="error" style="display:block">
             <p><%=err %></p>
         </div>
    <% }else{ %>
        <div class="err" id="error">
             <p>用户名不能空</p>
         </div>
    <% } %>
    
</div>
</div>
<% include manager-includes/foot.html %>
