
<% include manager-includes/head.html %>

	<div class="main" id="main">
		<div class="container table">
			<div class="table-cell sider">
				<div class="list">
					<a href="javascript:void(0)" class="fun">功能</a>
					<ul class="dropMenu">
						<li ><a href="#">群发功能</a></li>
						<li><a href="#">轮播图</a></li>
						<li class="active"><a href="/house">公寓详情</a></li>
					</ul>
				</div>
				<div class="list">
					<a  href="#" class="manager">管理</a>
					<ul class="dropMenu">
						<li><a href="#">素材管理</a></li>
					</ul>
				</div>
			</div>
			<div class="table-cell content">
				<div class="title">
					<h4>公寓详情</h4>
					<ol>
						<li >
							<a href="#">已发布公寓</a>
						</li>
						<li class="active">
							<a href="#">新建公寓</a>
						</li>
					</ol>
				</div>
				<div class="house">

<div class="house-update">
	<div class="index-show">
<!-- 		<div class="thumbnail">
			<ul class="scoll-pic">
				<% house.scollUrl.forEach(function(src){ %>
					<li >
						<a href="javascript:void(0)">
							<img src="<%=src %>" alt="" title="" width="552" />
						</a>
					</li>
				<% }) %>
			</ul>
			<div class="caption">
				<h3 class="house-title"><%=house.title %></h3>
				<p class="house-summary"><%=house.summary %></p>
			</div>
			<ul class="sroll-num">
				<li class="active"><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</div> -->
		<div class="update-choose">
			<div class="update-list">
				<span class="list-title">标题</span>
				<div class="list-form">
					<div class="list-text">
						
						<input type="text" name="title" placeholder="" value="<%=house.title %>" class="alive-input"/>
						<p><strong><%=house.title.length  %></strong>/50</p>
					</div>
					<div class="list-btn">
						<% house.keywords.forEach(function(word){ %>

							<span class="can-edit" data-name="keywords"><%=word %></span>
						<% }) %>
						
						<a href="javascrip:void(0)" class="add-sign" data-name="keywords">点击添加标签</a>
					</div>
				</div>
			</div>
			<div class="update-list">
				<span class="list-title">摘要</span>
				<div class="list-form">
					<div class="list-text">
						<input type="text" name="summary" value="<%=house.summary %>" class="alive-input"/>
						<p><strong><%=house.summary.length %></strong>/50</p>
					</div>
				</div>
			</div>
			<div class="update-list">
				<form action="/uploadImage" method="post" encType="multipart/form-data" target="hidden_frame">
				<span class="list-title">照片</span>
				<div class="btn-group">
					
						<input type="hidden" name="_id" value="<%=house._id %>" id="_id"/>
						<input type="hidden" name="config_id" value="<%=config._id %>" id="config_id"/>
						<button type="button">上传<input type="file" name="imgUrl" accept="image/*" /></button>
						<button type="button">从图片库选择</button>
						<button type="button" class="deleImg">删除</button>
				</div>
				<ul class="pic-show">
					<div class="cover-img">
						<a href="javascript:void(0)"><img src="#" alt="封面" title=""/></a>
					</div>
					<div class="scroll-img" id="scroll-img">
						<a href="javascript:void(0)"><img src="" alt="公寓详情" title=""/></a>
						<a href="javascript:void(0)"><img src="" alt="公寓详情" title=""/></a>
						<a href="javascript:void(0)"><img src="" alt="公寓详情" title=""/></a>
						<a href="javascript:void(0)"><img src="" alt="公寓详情" title=""/></a>
					</div>
				</ul>
				</form>
			</div>
		</div>
	</div>
	<div class="detail-show">
		<div class="house-detail">
			<ul>
				<li>
					<span><input type="text" value="<%=house.price %>" class="alive-input" name="price"/>元/月</span>
					<div class="keywords">
						<% house.require.forEach(function(word){ %>

							<span class="can-edit" data-name="require"><%=word %></span>

						<% }) %>

						<a href="#" class="add-sign" data-name="require">点击添加标签</a>
					</div>
				</li>
				<li>
					<% house.des.forEach(function(word){ %>

						<span class="can-edit" data-name="des"><%=word %></span>

					<% }) %>
					<a href="#" class="add-sign" data-name="des">点击添加标签</a>
				</li>
				<li class="address">
					<span>
						<input type="text" name="address" value="<%=house.address %>" class="alive-input"/>
					</span>
				</li>
			</ul>
		</div>
		<div class="mapShow">
					<ul class="map-title">
						<li class="active"><a href="javascript::void(0)">街景</a></li>
						<li><a href="javascript::void(0)">地图</a></li>
					</ul>
					<div class="map-content">
						<div class="map" id="e1" data-map="中国计量学院" data-address="下沙高教园区">
						</div>
						<div class="map" id="e2" data-map="浙江传媒学院" data-address="杭州师范大学">
						</div>
						<div class="map-btn">
							<h4>
								可选择查看周边
							</h4>
							<div class="Bmap-choose">
								<label><input type="checkbox" value="周边楼盘"  id="btnBuilding"/>周边楼盘</label>
								<label><input type="checkbox" value="公交站点"  id="btnBus"/>公交站点</label>
								<label><input type="checkbox" value="餐饮"  id="btnHotel"/>餐饮</label>
								<label><input type="checkbox" value="银行"  id="btnBank"/>银行</label>
								<label><input type="checkbox" value="超市"  id="btnSuperMarket"/>超市</label>
								<label><input type="checkbox" value="商场"  id="btnShop"/>商场</label>
								<label><input type="checkbox" value="学校"  id="btnSchool"/>学校</label>
								<label><input type="checkbox" value="医院"  id="btnHospital"/>医院</label>
								<label><input type="checkbox" value="家居卖场"  id="btnFurniture"/>家居卖场</label>
								<label><input type="checkbox" value="装饰公司"  id="btnDecoration"/>装饰公司</label>
								<label><input type="checkbox" value="加油站"  id="btnGasstation"/>加油站</label>
							</div>
						</div>
					</div>
			</div>

		<div class="house-config">
						<table border="1" cellpadding="0" cellspacing="0" bordercolor="#dedede">
							<thead>
								<tr>
									<th colspan="7">房间配置</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td>网络</td>
									<td colspan="2">电器</td>
									<td colspan="2">家具</td>
									<td>软饰</td>
									<td>其它</td>
								</tr>
								<tr>

									<td rowspan="3">
										<span class="can-edit" data-name="internet">
												<% if( !config || config.internet == '' ){ %>
													填点。。
												<% }else{%>
													<%=config.internet %>
												<% } %>
										</span>
									</td>
									<td>
										<span class="can-edit" data-name="electri">
											<% if( !config || config.electri[0] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.electri[0] %>
											<% } %>
										</span>
									</td>
									<td><span class="can-edit" data-name="electri">
										<% if( !config || config.electri[1] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.electri[1] %>
											<% } %>
									</span></td>
									<td><span class="can-edit" data-name="furniture">
										<% if( !config || config.furniture[0] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.furniture[0] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="furniture">
										<% if( !config || config.furniture[1] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.furniture[1] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !config || config.other[0] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.other[0] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !config || config.other[1] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.other[1] %>
											<% } %>
									</span></td>
								</tr>
								<tr>
									<td>
										<span class="can-edit" data-name="electri">
											<% if( !config || config.electri[2] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.electri[2] %>
											<% } %>
										</span>
									</td>
									<td><span class="can-edit"  data-name="electri">
										<% if( !config || config.electri[3] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.electri[3] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="furniture">
										<% if( !config || config.furniture[2] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.furniture[2] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="furniture">
										<% if( !config || config.furniture[3] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.furniture[3] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !config || config.other[4] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.other[4] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !config || config.other[3] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.other[3] %>
											<% } %>
									</span></td>
								</tr>
								<tr>
									<td>
										<span class="can-edit"  data-name="electri">
											<% if( !config || config.electri[4] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.electri[4] %>
											<% } %>
										</span>
									</td>
									<td><span class="can-edit"  data-name="electri">
										<% if( !config || config.electri[5] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.electri[5] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="furniture">
										<% if( !config || config.furniture[4] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.furniture[4] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="furniture">
										<% if( !config || config.furniture[5] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.furniture[5] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !config || config.other[4] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.other[4] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !config || config.other[5] == '' ){ %>
												填点。。
											<% }else{%>
												<%=config.other[5] %>
											<% } %>
									</span></td>
								</tr>
							</tbody>
						</table>
					</div>

		<div class="btn">
			<button id="release" type="btn">发布</button>
			<button id="dele" type="btn">删除</button>
		</div>
	</div>
</div>
		
				</div>
			</div>
		</div>
	</div>
<iframe name='hidden_frame' id="hidden_frame" style='display:none'></iframe>
<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=9f5d468870788eaa79a8865781872668"></script>
<script src="http://map.qq.com/api/js?v=2.exp&key=d84d6d83e0e51e481e50454ccbe8986b"></script> -->
<script type="text/javascript">
// var BmapInit = {
// 		searchType:['btnBuilding','btnBus','btnHotel','btnBank','btnSuperMarket','btnShop','btnSchool','btnHospital','btnFurniture','btnDecoration','btnGasstation'],
// 		init:function(el){

// 			// 百度地图API功能
// 			var map = new BMap.Map(el);
// 			this.local = new BMap.LocalSearch(map, {
// 				renderOptions:{map: map}
// 			});
// 			var point = new BMap.Point(116.331398,39.897445);
// 			map.centerAndZoom(point,12);
// 			var marker;
// 			var city = document.getElementById(el).getAttribute('data-map');
// 			var address = document.getElementById(el).getAttribute('data-address');

// 			// 创建地址解析器实例
// 			var myGeo = new BMap.Geocoder();
// 			// 将地址解析结果显示在地图上,并调整地图视野
// 			myGeo.getPoint(city, function(point){
// 				if (point) {
// 					// marker = new BMap.Marker(point);// 创建标注
// 					// map.centerAndZoom(point, 16);
// 					// map.addOverlay(marker);// 将标注添加到地图中
					
// 					// var opts = {
// 					//   width : 200,     // 信息窗口宽度
// 					//   height: 100,     // 信息窗口高度
// 					//   title : city , // 信息窗口标题
// 					//   enableMessage:true,//设置允许信息窗发送短息
// 					//   message:"亲耐滴，晚上一起吃个饭吧？戳下面的链接看下地址喔~"
// 					// }
// 					// var infoWindow = new BMap.InfoWindow("地址:"+address, opts);  // 创建信息窗口对象 
// 					// marker.addEventListener("click", function(){          
// 					// 	map.openInfoWindow(infoWindow,point); //开启信息窗口
// 					// });
// 					map.centerAndZoom(point, 16);
// 					map.addOverlay(new BMap.Marker(point));

// 				}else{
// 					alert("您选择地址没有解析到结果!");
// 				}
// 			},'中国');

// 			this.mapSearch();
// 		},
// 		mapSearch:function(){

// 			var local = this.local;
// 			var searchType = this.searchType;
// 			var This = this;
// 			searchType.forEach(function(elem,index){

// 				This.addEvent( document.getElementById(elem),'click', function(event){

// 						var _val = this.getAttribute('value');
// 						if( this.checked ){
// 							console.log(_val);
// 							This.local.search(_val);
// 						}else{
// 							This.local.search();
// 						}
						
// 				});
// 			});
// 		},
// 		addEvent:function(obj,type,fn){

// 			if(obj.attacheEvent){
// 				obj.attacheEvent( 'on'+type,fn );
// 			}else{
// 				obj.addEventListener( type,fn,false );
// 			}
// 		},
// 		clickEvent:function(){

// 			console.log( this );
// 		}
// 	};
	
// 	BmapInit.init('e1')

// 	var tengMap = {
// 		init:function(el){
// 			this.address = document.getElementById('e2').getAttribute('data-map');
// 		    this.pano_service = new qq.maps.PanoramaService();
// 		    this.geocoder();
// 		},
// 		geocoder:function(){

// 			var pano_service = this.pano_service;
// 			var address = this.address;

// 			var geocoder = new qq.maps.Geocoder({
// 		        complete : function(result){
// 	                var radius;
// 		    		pano_service.getPano(result.detail.location,radius, function (result){
// 		                new qq.maps.Panorama(document.getElementById('e2'), {
// 					        pano: result.svid,
// 					        disableMove: false,
// 					        pov:{
// 					            heading:20,
// 					            pitch:15
// 					        },
// 					        zoom:1
// 					    });
// 		            });
// 		        }
// 		    });
// 		    geocoder.getLocation(address);
// 		}
// 	};
// 	tengMap.init('e2');

</script>
<% include manager-includes/foot.html %>