<% include includes/head.html %>
	<div class="room-banner" id="roomShow">
		<div class="big-img">
			<ul class="clearfix">
				<% house.scollUrl.forEach(function( img ){ %>

					<% if( img != '' ){ %>
						<li><a href="javascript:void(0)" style="background-image:url('..<%=img %>');"><img src="<%=img %>" alt="banner-1" title=""/></a></li>
					<% } %>
					
				<% }) %>
			</ul>
			<a class="btn-pre" href="javascript:void(0)"><i class="icon-pre"></i></a>
			<a class="btn-next" href="javascript:void(0)"><i class="icon-next"></i></a>
			<div class="banner-bg">
			</div>
		</div>
		<div class="small-img">

			<% house.scollUrl.forEach(function( img ){ %>

				<% if( img != '' ){ %>
					
					<span class="si-item">
						<img src="<%=img %>"/>
					</span>
				<% } %>
				
			<% }) %>
			
		</div>

	</div>

	<section class="main" style="margin-top:0">
		<div id="main" style="background-color:#fff">
			<div class="detail-messaege">
				<div class="house-des">
					<div class="detail-title house-name">
						<p><%=house.title %></p>

						<% house.keywords.forEach(function(keyword){ %>

							<span><%=keyword %></span>

						<% }) %>
					</div>
					<div class="house-detail">
						<ul>
						<li>
								<div class="table">
									<% house.des.forEach(function(val){
									%>
										<p class="table-cell">	<%= val %></p>
									<% }) %>
								</div>
							</li>
							<li>
								<p><strong><%=house.price %></strong> 元/月</p>

								<% house.require.forEach(function(val){
								%>
									<% if( val != '' ){ %>
										<span><%=val %></span>
									<% } %>
									
								<% }) %>
							</li>

						</ul>
					</div>
				</div>

				<div class="appointmen">
					<input type="hidden" value="<%=house._id  %>" name="_id" class="apt-id"/>

					
						<% if( sign ){ %>
							<a href="javascript:void(0)" class="collect" id="apt-collect" data-action="house-collect">	
								收藏
							</a>
						<% }else{ %>
							<a href="javascript:void(0)" class="collect alreadyapt">	
								已收藏
							</a>
						<% } %>

						<a href="javascript:void(0)" class="btn-apt" id="btn-apt" data-action="house-appoint" <% if( user.username ){ %>
								data-require="<%=user.nameID.telephone %>"
							<%	} %>>	
								预约
						</a>
				</div>

				<div class="house-config">
					<div class="container">
						<div class="detail-title">
							<p>房间配置</p>
						</div>
						<div class="table">
							<div class="table-cell"><span class="config bed">床</span></div>
							<div class="table-cell"><span class="config tv">数字电视</span></div>
							<div class="table-cell"><span class="config air">空调</span></div>
							<div class="table-cell"><span class="config washer">洗衣机</span></div>
							<div class="table-cell"><span class="config wifi">WIFI全覆盖</span></div>
							<div class="table-cell"><span class="config hotWrater">24h热水</span></div>
						</div>
					</div>
				</div>
				<div class="mapShow">
					<div class="detail-title">
						<p>公寓位置</p>
					</div>
					<div class="map-title clearfix">
						<a href="javascript::void(0)" class="streetscape">街景</a>
						<a href="javascript::void(0)" class="Baimap active">地图</a>
					</div>
					<div class="map-content">
						<div class="map" id="e1" data-map="<%=house.address %>" data-address="<%=house.address %>">
						</div>
						<div class="map" id="e2" data-map="<%=house.address %>" data-address="<%=house.address %>">
						</div>
						<div class="btn-group">
							<h4>
								可选择查看周边
							</h4>
							<div class="Bmap-choose">
								<label><input type="checkbox" value="周边楼盘"  id="btnBuilding"/>周边楼盘</label>
								<label><input type="checkbox" value="公交站点"  id="btnBus"/>公交站点</label>
								<label><input type="checkbox" value="餐饮"  id="btnHotel"/>餐饮</label>
								<label><input type="checkbox" value="银行"  id="btnBank"/>银行</label>
								<label><input type="checkbox" value="超市"  id="btnSuperMarket"/>超市</label>
								<label><input type="checkbox" value="商场"  id="btnShop"/>商场</label>
								<label><input type="checkbox" value="学校"  id="btnSchool"/>学校</label>
								<label><input type="checkbox" value="医院"  id="btnHospital"/>医院</label>
								<label><input type="checkbox" value="家居卖场"  id="btnFurniture"/>家居卖场</label>
								<label><input type="checkbox" value="装饰公司"  id="btnDecoration"/>装饰公司</label>
								<label><input type="checkbox" value="加油站"  id="btnGasstation"/>加油站</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="apt-process">
			<div class="detail-title">
				<p>入住流程</p>
			</div>
			<div class="container">
				<ul >
					<li>
						<span class="apt-icon"></span>
						<div class="apt-des">
							<span>在线选房</span>
							<p>全方位3D高清图片</p>
						</div>
					</li>
					<li>
						<span class="apt-icon"></span>
						<div class="apt-des">
							<span>预约看房</span>
							<p>贴心管家陪同看房</p>
						</div>
					</li>
					<li>
						<span class="apt-icon"></span>
						<div class="apt-des">
							<span>确定入驻</span>
							<p>挑选配置</p>
						<div>
					</li>
					<li>
						<span class="apt-icon"></span>
						<div class="apt-des">
							<span>签署合同</span>
							<p>签署合同后即可入住</p>
						</div>
					</li>
					<li>
						<span class="apt-icon"></span>
						<div class="apt-des">
							<span>入驻租客</span>
							<p>恭喜您加入租客大家庭</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="section-fz">
		<div class="container">
			<div class="fz-content">
				<h2>公寓管家</h2>
				<p>生活总是充满惊喜，就像不经意间我会遇见你, 在没有预约的日子里，我们总是能够不期而遇

</br>
					我是青年颂的管家KK很高兴我们能在这里一起生活

				</p>
				<div class="fz-intro">
					<img src="/image/fz-pic.png" alt="">
					<div class="intro-message">
						<span>科科</span>
						<span>房间数量：200间</span>
						<span>可入住房源：12间</span>
						<span>负责区域:滨江区</span>
						<span class="tele">****155****</span>
						<span class="intro-wx"></span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div id="footer">
			<div class="wrap">
				<div class="copyRight">
					<p>© 2015  租租侠版权所有</p>
				</div>
				<div class="wrap-r">
					<a href="javascript:void(0)">用户协议</a>
					<a href="javascript:void(0)">投诉建议</a>
					<a href="javascript:void(0)">联系我们</a>
				</div>
			</div>
		</div>
	</footer>

<div class="shawdow" id="shawdow">
		<div class="regFace">
			<form action="" id="registerForm">
				<legend>
					注册
					<a class="close" data-action="close-modal"></a>
				</legend>
				<div class="form-group norInput">
					<input type="text" name="username" placeholder="邮箱/手机" autocomplete="off"  id="loginU"/>
					<input type="password" name="password" placeholder="密码" autocomplete="off"/>
				</div>
				<div class="form-group spcInput">
					<input type="text" name="qr" placeholder="请输入验证码" autocomplete="off"/>
					<input type="hidden" autocomplete="off" name="registerBy"/>
					<input type="hidden" name="sendqr" autocomplete="off"/>
					<button type="button" class="btn-send" id="send-code" data-action="reg-sendMessage">发送验证码</button>
				</div>
				<div class="form-group">
					<label><input type="checkbox" />我同意并遵守上述的 《<a href="#">租租侠服务协议</a>》</label>
				</div>

				<div class="form-group submit">
					<button type="button" id="register" data-action="reg-submit">完成并登录</button>
					<!-- <input type="button" value="完成并登录" id="register"/> -->
				</div>
				<div class="form-group">
					<p class="errorL" id="regerror"></p>
				</div>
			</form>
		</div>
		<div class="loginFace">
			<form action="loginAction" method="post" id="loginForm">
				<legend>
					登录
					<a class="close" data-action="close-modal"></a>
				</legend>
				<div class="form-group norInput">
					<input type="text" name="username" placeholder="账号" autocomplete="off"  />
					<input type="password" name="pass" placeholder="密码"/>
				</div>
				<div class="form-group remember">
					<label><input type="checkbox" name="1" value="0"/>记住账号</label>

					<a class="btn-getPass" href="javascript:void(0)" id="forgetPass" data-action="open-getPass-modal">忘记密码</a>
				</div>
				<div class="form-group submit">
					<button type="button" id="btn-lg" data-action="login">登录</button>
					<!-- <input type="button" value="登录" id="btn-lg" disabled/> -->
				</div>
				<div class="form-group">
					<p class="error" id="error">密码不能为空</p>
				</div>
				<div class="form-group other-login">
					<label>第三方登录</label>
					<a class="wx-login"  href="<%=webLogin %>" id="wx-login"></a>
					<a class="qq-login" href="#"></a>
				</div>
			</form>
		</div>
		<div class="getPassFace">
			<form action="" id="resetForm">
				<legend>
					找回密码
					<a class="close" data-action="close-modal"></a>
				</legend>
				<div class="form-group norInput">
					<input type="text" name="username" placeholder="邮箱/手机" autocomplete="off"/>
					<input type="password" name="onepass" placeholder="密码" autocomplete="off"/>
					<input type="password" name="agapass" placeholder="确定密码" autocomplete="off"/>
				</div>
				<div class="form-group spcInput">
					<input type="text" name="qr" placeholder="请输入验证码" autocomplete="off"/>
					<input type="hidden" name="sendqr" autocomplete="off"/>
					<button type="button" class="btn-send" id="reset-code" data-action="forget-sendMessage">发送验证码</button>
				</div>
				<div class="form-group submit">
					<button type="button" id="resetPass" data-action="forgetPass-submit">修改并登录</button>
					<!-- <input type="button" value="完成并登录" id="register"/> -->
				</div>
				<div class="form-group">
					<p class="errorL" id="reseterror"></p>
				</div>
			</form>
		</div>
	</div>
	<div class="apt-fail" id="apt-fail">
		<span class="icon-apt-faild"></span>
		<p>您还未登录~~</p>
		<a class="login" href="javascript:void(0)" data-action="open-login-modal">立即登录</a>
		<a class="reg" href="javascript:void(0)" data-action="open-reg-modal">马上注册</a>
	</div>
	<div class="apt-fail" id="apt-succ" id="apt-succ">
		<span class="icon-apt-succ"></span>
		<p>预约成功~~</p>
		<p class="move-center">
			点击个人中心><a href="/personCenter">我的预约</a>可以查看历史预约记录
		</p>
	</div>
	
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=9f5d468870788eaa79a8865781872668"></script>
<script src="http://map.qq.com/api/js?v=2.exp&key=d84d6d83e0e51e481e50454ccbe8986b"></script>
<% include includes/foot.html %>
<script type="text/javascript">
 	kvm.module.invoke("/dist/js/lib/detailMessage.js?20151022");
</script>