
<% include manager-includes/head.html %>

	<div class="main" id="main">
		<div class="container table">
			<div class="table-cell sider">
				<div class="list">
					<a href="javascript:void(0)" class="fun">功能</a>
					<ul class="dropMenu">
						<li ><a href="#">群发功能</a></li>
						<li><a href="#">轮播图</a></li>
						<li class="active"><a href="/house">公寓详情</a></li>
					</ul>
				</div>
				<div class="list">
					<a  href="#" class="manager">管理</a>
					<ul class="dropMenu">
						<li><a href="#">素材管理</a></li>
					</ul>
				</div>
			</div>
			<div class="table-cell content">
				<div class="title">
					<h4>公寓详情</h4>
					<ol>
						<li class="active">
							<a href="/house">已发布公寓</a>
						</li>
						<li>
							<a href="/createHouse">新建公寓</a>
						</li>
					</ol>
				</div>
				<div class="house">
					<div class="show-all">

						<% houses.forEach(function(house){ %>

							<div class="thumbnail">
								<a href="house/<%=house._id %>">
									<img src="<%=house.coverUrl %>" width=""/>
									<div class="mask">
										<div class="ma table">
											<div class="table-cell">
												<h3 ><%=house.title %></h3>
												<p ><%=house.summary %></p>
											</div>
										</div>
									</div>
								</a>
							</div>

						<% }) %>
						
					</div>
				</div>
			</div>
		</div>
	</div>

<% include manager-includes/foot.html %>