
<% include manager-includes/head.html %>

	<div class="main" id="main">
		<div class="container table">
			<div class="table-cell sider">
				<div class="list">
					<a href="javascript:void(0)" class="fun">功能</a>
					<ul class="dropMenu">
						<li ><a href="#">群发功能</a></li>
						<li><a href="#">轮播图</a></li>
						<li class="active"><a href="/house">公寓详情</a></li>
					</ul>
				</div>
				<div class="list">
					<a  href="#" class="manager">管理</a>
					<ul class="dropMenu">
						<li><a href="#">素材管理</a></li>
						<li><a href="/aptManager">预约管理</a></li>
					</ul>
				</div>
			</div>
			<div class="table-cell content">
				<div class="title">
					<h4>公寓详情</h4>
					<ol>
						<li class="active">
							<a href="/house">所有公寓</a>
						</li>
						<li>
							<a href="/createHouse" class="createHouse">新建公寓</a>
						</li>
					</ol>
				</div>
				<div class="house">
					<div class="show-all">
						<div class="item1">
							<h2>杭州</h2>
						<% houses.forEach(function(house){ %>
							<div class="thumbnail">
								<a href="house/<%=house._id %>">
									<% if( house.coverUrl == '' ){ %>
										<img src="image/default-curimg.png" width=""/>
									<% }else{ %>
										<img src="<%=house.coverUrl %>" width=""/>
									<% } %>
									<div class="mask">
										<div class="ma table">
											<div class="table-cell">
												<h3 ><%=house.title %></h3>
												<p ><%=house.summary %></p>
											</div>
										</div>
									</div>
								</a>
								<div class="mask-icon">
									<span class="apt-num">
										预定量：<strong>0</strong>
									</span>
									<p>
										状态：
										<% if( house.status=='1'  ){ %>
											未上架
										<% }else{ %>
											已上架
										<% } %>
									</p>
								</div>
							</div>

						<% }) %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include manager-includes/foot.html %>