
<% include manager-includes/head.html %>

	<div class="main" id="main">
		<div class="container table">
			<div class="table-cell sider">
				<div class="list">
					<a href="javascript:void(0)" class="fun">功能</a>
					<ul class="dropMenu">
						<li ><a href="#">群发功能</a></li>
						<li><a href="#">轮播图</a></li>
						<li class="active"><a href="/house">公寓详情</a></li>
					</ul>
				</div>
				<div class="list">
					<a  href="#" class="manager">管理</a>
					<ul class="dropMenu">
						<li><a href="#">素材管理</a></li>
						<li><a href="/aptManager">预约管理</a></li>
					</ul>
				</div>
			</div>
			<div class="table-cell content">
				<div class="title">
					<h4>公寓详情</h4>
					<ol>
						<li class="active">
							<a href="/house">已发布公寓</a>
						</li>
						<li>
							<a href="/createHouse">新建公寓</a>
						</li>
					</ol>
				</div>
				<div class="house">

<div class="house-update">
	<div class="index-show">
		<div class="update-choose">
			<div class="update-list">
				<input type="text" name="bh" class="alive-input" placeholder="请输入公寓编号" id="bh" value="<%=house.bh %>" data-val="<%=house.bh %>"/>
				<span class="list-title">标题</span>
				<div class="list-form">
					<div class="list-text">
						
						<input type="text" name="title" placeholder="" value="<%=house.title %>" class="alive-input" data-val="<%=house.title %>"/>
						<p><strong><%=house.title.length  %></strong>/50</p>
					</div>
					<div class="list-btn">
						<% house.keywords.forEach(function(word){ %>

							<span class="can-edit" data-name="keywords"><%=word %></span>
						<% }) %>
						
						<a href="javascrip:void(0)" class="add-sign" data-name="keywords" data-action="add-sign">点击添加标签</a>
					</div>
				</div>
			</div>
			<div class="update-list">
				<span class="list-title">摘要</span>
				<div class="list-form">
					<div class="list-text">
						<input type="text" name="summary" value="<%=house.summary %>" class="alive-input" data-val="<%=house.summary %>"/>
						<p><strong><%=house.summary.length %></strong>/50</p>
					</div>
				</div>
			</div>
			<div class="update-list">
				<form action="/uploadImage" method="post" encType="multipart/form-data" target="hidden_frame">
				<span class="list-title">照片</span>
				<div class="btn-group">
					
						<input type="hidden" name="_id" value="<%=house._id %>" id="_id"/>
						<input type="hidden" name="config_id" value="<%=house.houseconfig._id %>" id="config_id"/>
						<input type="hidden" name="changeType" value="" id="changeType"/>
						<input type="hidden" name="changeNum" value="" id="changeNum"/>
						<button type="button">上传<input type="file" name="imgUrl" accept="image/*" /></button>
						<button type="button">从图片库选择</button>
						<button type="button" class="dele" data-action="dele-img">删除</button>
				</div>
				<ul class="pic-show">
					<div class="cover-img">
						<a href="javascript:void(0)" data-name="coverUrl" data-action="changeUrl-first">
							<img src="<%=house.coverUrl %>" title=""/>
							<p class="size">
								尺寸 456 : 341
							</p>
							<input type="hidden" name="coverUrl" value="<%=house.coverUrl %>"/>
						</a>
					</div>
					<div class="scroll-img">
						<% house.scollUrl.forEach(function(img){ %>
							<a href="javascript:void(0)" data-name="scollUrl" data-action="changeUrl-first"><img src="<%=img %>" title="" data-name="scollUrl"/>
								<input type="hidden" name="scollUrl" value="<%=img %>"/>
								<p class="size">
									尺寸 1898 : 700
								</p>
							</a>
						<% }) %>
					</div>
				</ul>
				</form>
			</div>
		</div>
	</div>
	<div class="detail-show">
		<div class="house-detail">
			<ul>
				<li>
					<span><input type="text" value="<%=house.price %>" data-val="<%=house.price %>" class="alive-input" name="price" />元/月</span>
					<div class="keywords">
						<% house.require.forEach(function(word){ %>

							<span class="can-edit" data-name="require"><%=word %></span>

						<% }) %>

						<a href="#" class="add-sign" data-name="require" data-action="add-sign">点击添加标签</a>
					</div>
				</li>
				<li>
					<% house.des.forEach(function(word){ %>

						<span class="can-edit" data-name="des"><%=word %></span>

					<% }) %>
					<a href="#" class="add-sign" data-name="des" data-action="add-sign">点击添加标签</a>
				</li>
				<li class="address">
					<span>
						<input type="text" name="address" value="<%=house.address %>" class="alive-input" id="address" data-val="<%=house.address %>"/>
					</span>
				</li>
			</ul>
		</div>
		<div class="mapShow">
					<ul class="map-title">
						<li ><a href="javascript::void(0)">街景</a></li>
						<li class="active"><a href="javascript::void(0)">地图</a></li>
					</ul>
					<div class="map-content">
						<div class="map" id="e1" data-map="<%=house.address %>" data-address="<%=house.address %>">
						</div>
						<div class="map" id="e2" data-map="<%=house.address %>" data-address="<%=house.address %>">
						</div>
						<div class="map-btn">
							<h4>
								可选择查看周边
							</h4>
							<div class="Bmap-choose">
								<label><input type="checkbox" value="周边楼盘"  id="btnBuilding"/>周边楼盘</label>
								<label><input type="checkbox" value="公交站点"  id="btnBus"/>公交站点</label>
								<label><input type="checkbox" value="餐饮"  id="btnHotel"/>餐饮</label>
								<label><input type="checkbox" value="银行"  id="btnBank"/>银行</label>
								<label><input type="checkbox" value="超市"  id="btnSuperMarket"/>超市</label>
								<label><input type="checkbox" value="商场"  id="btnShop"/>商场</label>
								<label><input type="checkbox" value="学校"  id="btnSchool"/>学校</label>
								<label><input type="checkbox" value="医院"  id="btnHospital"/>医院</label>
								<label><input type="checkbox" value="家居卖场"  id="btnFurniture"/>家居卖场</label>
								<label><input type="checkbox" value="装饰公司"  id="btnDecoration"/>装饰公司</label>
								<label><input type="checkbox" value="加油站"  id="btnGasstation"/>加油站</label>
							</div>
						</div>
					</div>
			</div>

		<div class="house-config">
						<table border="1" cellpadding="0" cellspacing="0" bordercolor="#dedede">
							<thead>
								<tr>
									<th colspan="7">房间配置</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<td>网络</td>
									<td colspan="2">电器</td>
									<td colspan="2">家具</td>
									<td>软饰</td>
									<td>其它</td>
								</tr>
								<tr>

									<td rowspan="3">
										<span class="can-edit" data-name="internet">
												<% if( !house.houseconfig || house.houseconfig.internet == '' ){ %>
													填点。。
												<% }else{%>
													<%=house.houseconfig.internet %>
												<% } %>
										</span>
									</td>
									<td>
										<span class="can-edit" data-name="electri">
											<% if( !house.houseconfig || house.houseconfig.electri[0] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.electri[0] %>
											<% } %>
										</span>
									</td>
									<td><span class="can-edit" data-name="electri">
										<% if( !house.houseconfig || house.houseconfig.electri[1] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.electri[1] %>
											<% } %>
									</span></td>
									<td><span class="can-edit" data-name="furniture">
										<% if( !house.houseconfig || house.houseconfig.furniture[0] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.furniture[0] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="furniture">
										<% if( !house.houseconfig || house.houseconfig.furniture[1] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.furniture[1] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !house.houseconfig || house.houseconfig.other[0] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.other[0] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !house.houseconfig || house.houseconfig.other[1] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.other[1] %>
											<% } %>
									</span></td>
								</tr>
								<tr>
									<td>
										<span class="can-edit" data-name="electri">
											<% if( !house.houseconfig || house.houseconfig.electri[2] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.electri[2] %>
											<% } %>
										</span>
									</td>
									<td><span class="can-edit"  data-name="electri">
										<% if( !house.houseconfig || house.houseconfig.electri[3] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.electri[3] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="furniture">
										<% if( !house.houseconfig || house.houseconfig.furniture[2] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.furniture[2] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="furniture">
										<% if( !house.houseconfig || house.houseconfig.furniture[3] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.furniture[3] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !house.houseconfig || house.houseconfig.other[4] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.other[4] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !house.houseconfig || house.houseconfig.other[3] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.other[3] %>
											<% } %>
									</span></td>
								</tr>
								<tr>
									<td>
										<span class="can-edit"  data-name="electri">
											<% if( !house.houseconfig || house.houseconfig.electri[4] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.electri[4] %>
											<% } %>
										</span>
									</td>
									<td><span class="can-edit"  data-name="electri">
										<% if( !house.houseconfig || house.houseconfig.electri[5] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.electri[5] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="furniture">
										<% if( !house.houseconfig || house.houseconfig.furniture[4] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.furniture[4] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="furniture">
										<% if( !house.houseconfig || house.houseconfig.furniture[5] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.furniture[5] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !house.houseconfig || house.houseconfig.other[4] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.other[4] %>
											<% } %>
									</span></td>
									<td><span class="can-edit"  data-name="other">
										<% if( !house.houseconfig || house.houseconfig.other[5] == '' ){ %>
												填点。。
											<% }else{%>
												<%=house.houseconfig.other[5] %>
											<% } %>
									</span></td>
								</tr>
							</tbody>
						</table>
					</div>
		<div class="btn">

			<% if(house.status == '2'){ %>
				<button id="under" type="btn" data-action="update-house-status">下架</button>
				<button id="dele" type="btn" data-action="update-house-status">删除</button>
			<% }else if( house.status == '1' ){ %>
				<button id="release" type="btn" data-action="update-house-status">发布</button>
				<button id="dele" type="btn" data-action="update-house-status">删除</button>
			<% }else{ %>
				<button id="release" type="btn" data-action="update-house-status">发布</button>
			<% } %>	
			<!-- <button id="release" type="btn">发布</button> -->
			
			
		</div>
	</div>
</div>
		
				</div>
			</div>

		
		</div>
	</div>
	<iframe name="hidden_frame" id="hidden_frame" style="display:none"></iframe>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=9f5d468870788eaa79a8865781872668"></script>
<script src="http://map.qq.com/api/js?v=2.exp&key=d84d6d83e0e51e481e50454ccbe8986b"></script>
<% include manager-includes/foot.html %>
<script type="text/javascript">
	kvm.module.invoke('/dist/js/lib/houseUpdate.js?20151022');
</script>