
<% include includes/head.html %>
	
	<div class="banner" id="banner">
		
			<ul>
				<li class="active"><a href="#"><img src="/image/banner-1.jpg" alt="banner-1" title="" width="1900"/></a></li>
				<li><a href="#"><img src="/image/banner-2.jpg" alt="banner-1" title="" width="1900"/></a></li>
				<li><a href="#"><img src="/image/banner-3.jpg" alt="banner-1" title="" width="1900"/></a></li>
			</ul>
		<a class="btn-pre"><i class="icon-pre"></i></a>
		<a class="btn-next"><i class="icon-next"></i></a>
	</div>
	<div class="banner-search" id="banner-search">
		<div class="container">
			<div class="wrap">
				<form class="banner-form">
					<ul>
						<li>
							<dl>
								<dt class="chooseSite">
									<input type="text" name="site" value="" placeholder="公寓位置" readonly />
									<i class="icon-arrow-botom"></i>
								</dt>
								<dd class="detailsite">
									<a href="#">浙江杭州</a>
									
								</dd>
							</dl>
						</li>
						<li>
							<input type="text" name="starttime" placeholder="起始时间"  onClick="WdatePicker()" readonly id="starttime"/>
							<i class="icon-arrow-botom"></i>
						</li>

						<li>
							<dl>
								<dt class="choosetime">
									<input type="text" name="site" value="" placeholder="入住周期" readonly id="duringtime"/>
									
									<i class="icon-arrow-botom"></i>
								</dt>
								<dd class="detailtime">
									<a href="#">3月</a><a href="#">6月</a><a href="#">9月</a><a href="#">12月</a>
									<a href="#">15月</a><a href="#">18月</a><a href="#">21月</a><a href="#">24月</a>
									<a href="#">27月</a><a href="#">30月</a><a href="#">33月</a><a href="#">36月</a>
								</dd>
							</dl>
						</li>
						<li>
							<input type="text" name="endtime" placeholder="结束时间" id="endtime" readonly/>
							
						</li>
						<li>
							<button type="submit" class="submit">立即预约</buton>
						</li>
					</ul>
				</form>
				<div class="tab">
					<div class="tab-a">
						在线预订
						<i class=""></i>
					</div>
					<div class="tab-b">
						预约参观

					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="main" id="main">
		<div>
			<div class="title">
				<span>杭州</span>
			</div>
			<div class="show">
				<% houses.forEach(function(house){ %>
				<div class="thumbnail">
					<a href="detailMessage/<%=house._id %>" class="thumbnail-body">
						<img data-src="<%=house.coverUrl %>" width=""/>
						<div class="mask">
							<div class="ma table">
								<div class="table-cell">
									<h3 ><%=house.title %></h3>
									<p ><%=house.summary %></p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<% }) %>
			</div>
		</div>
		<div >
			<div class="title">
				<span>杭州</span>
			</div>
			<div class="show">
				<% houses.forEach(function(house){ %>
				<div class="thumbnail">
					<a href="detailMessage/<%=house._id %>" class="thumbnail-body">
						<img data-src="<%=house.coverUrl %>" width="" />
						<div class="mask">
							<div class="ma table">
								<div class="table-cell">
									<h3 ><%=house.title %></h3>
									<p ><%=house.summary %></p>
								</div>
							</div>
						</div>
					</a>
				</div>
				<% }) %>
			</div>
		</div>
	</section>


	<footer class="footer">
		<div id="footer">
			<div class="wrap">
				<div class="copyRight">
					<p>© 2015  租租侠版权所有</p>
				</div>
				<div class="wrap-r">
					<a href="#">用户协议</a>
					<a href="#">投诉建议</a>
					<a href="#">联系我们</a>
				</div>
			</div>
		</div>
	</footer>

	<div class="shawdow" id="shawdow">
		<div class="regFace">
			<form action="" id="registerForm">
				<legend>
					注册
					<a class="close"></a>
				</legend>
				<div class="form-group norInput">
					<input type="text" name="username" placeholder="邮箱/手机" autocomplete="off"  id="loginU"/>
					<input type="password" name="password" placeholder="密码" autocomplete="off"/>
				</div>
				<div class="form-group spcInput">
					<input type="text" name="qr" placeholder="请输入验证码" autocomplete="off"/>
					<input type="hidden" autocomplete="off" name="registerBy"/>
					<input type="hidden" name="sendqr" autocomplete="off"/>
					<button type="button" class="btn-send" id="send-code" >发送验证码</button>
				</div>
				<div class="form-group">
					<label><input type="checkbox" />我同意并遵守上述的 《<a href="#">租租侠服务协议</a>》</label>
				</div>

				<div class="form-group submit">
					<button type="button" id="register">完成并登录</button>
					<!-- <input type="button" value="完成并登录" id="register"/> -->
				</div>
				<div class="form-group">
					<p class="errorL" id="regerror"></p>
				</div>
			</form>
		</div>
		<div class="loginFace">
			<form action="loginAction" method="post" id="loginForm">
				<legend>
					登录
					<a class="close"></a>
				</legend>
				<div class="form-group norInput">
					<input type="text" name="username" placeholder="账号" autocomplete="off"  />
					<input type="password" name="pass" placeholder="密码"/>
				</div>
				<div class="form-group remember">
					<label><input type="checkbox" name="1" value="0"/>记住账号</label>

					<a class="btn-getPass" href="javascript:void(0)" id="forgetPass">忘记密码</a>
				</div>
				<div class="form-group submit">
					<button type="button" id="btn-lg" >登录</button>
					<!-- <input type="button" value="登录" id="btn-lg" disabled/> -->
				</div>
				<div class="form-group">
					<p class="error" id="error">密码不能为空</p>
				</div>
				<div class="form-group other-login">
					<label>第三方登录</label>
					<a class="wx-login"  href="<%=webLogin %>" id="wx-login"></a>
					<a class="qq-login" href="#"></a>
				</div>
			</form>
		</div>
		<div class="getPassFace">
			<form action="" id="resetForm">
				<legend>
					找回密码
					<a class="close"></a>
				</legend>
				<div class="form-group norInput">
					<input type="text" name="username" placeholder="邮箱/手机" autocomplete="off"/>
					<input type="password" name="onepass" placeholder="密码" autocomplete="off"/>
					<input type="password" name="agapass" placeholder="确定密码" autocomplete="off"/>
				</div>
				<div class="form-group spcInput">
					<input type="text" name="qr" placeholder="请输入验证码" autocomplete="off"/>
					<input type="hidden" name="sendqr" autocomplete="off"/>
					<button type="button" class="btn-send" id="reset-code" >发送验证码</button>
				</div>
				<div class="form-group submit">
					<button type="button" id="resetPass">修改并登录</button>
					<!-- <input type="button" value="完成并登录" id="register"/> -->
				</div>
				<div class="form-group">
					<p class="errorL" id="reseterror"></p>
				</div>
			</form>
		</div>
	</div>
<script src="/My97DatePicker/WdatePicker.js"></script>

<% include includes/foot.html %>
















