
<% include includes/head.html %>
	<div id="roomShow" >
		<div class="bg">
			<img src="<%=user.bgimg %>" width="1897" alt="" title=""/>
			<form method="post" name="form" encType="multipart/form-data" title="改变背景" action="uploadbgImg">
				<input type="hidden" name="username" value="<%=user.username %>"/>
				<input type="hidden" name="url" value="/personCenter"/>
				<input type="file" name="bgimg" accept="image/*" title="改变背景" id="changeBg"/>
			</form>
		</div>
		<div class="jumbotron-des">
			<div class="jump-middle">
				<h3><%=personinfo.name %></h3>
				<p><%=personinfo.sign %></p>
			</div>
		</div>
	</div>
	<section class="main" id="main" style="background-color:#fff">
		<div >
			<div class="center-choose">
				<a class="me " href="/personCenterMe">
					<i></i>
					<p>我</p>
				</a>
				<a class="message " href="/personCenterMessage">
					<i></i>
					<p>消息</p>
				</a>
				<a class="appointment " href="/personCenter">
					<i></i>
					<p>预约</p>
					
				</a>
				<a class="collection active" href="/personCenterCollect">
					<i></i>
					<p>收藏</p>
				</a>
			</div>
			<div class="show">
				<% collects.forEach(function(collect){ %>
					<div class="thumbnail">
					<a href="detailMessage/<%=collect.houseID._id %>" class="thumbnail-body">
						<% if( collect.houseID.coverUrl == '' ){ %>
							<img data-src="image/default-curimg.png" width=""/>
						<% }else{ %>
							<img data-src="<%=collect.houseID.coverUrl %>" width=""/>
						<% } %>
						
						<div class="mask">
							<div class="ma table">
								<div class="table-cell">
									<h3 ><%=collect.houseID.title %></h3>
									<p ><%=collect.houseID.summary %></p>
								</div>
							</div>
						</div>
					</a>
					<div class="mask-icon clearfix">
						<span class="btn-share">
							<div class="share-icon">
								<p class="qq-login" id="qq-share"></p>
								<p class="wx-login"></p>
							</div>
						</span>
						<span class="btn-dele" data-action="dele-collect" data-val="<%=collect._id %>"></span>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</section>

	<footer class="footer">
		<div id="footer">
			<div class="wrap">
				<div class="copyRight">
					<p>© 2015  租租侠版权所有</p>
				</div>
				<div class="wrap-r">
					<a href="#">用户协议</a>
					<a href="#">投诉建议</a>
					<a href="#">联系我们</a>
				</div>
			</div>
		</div>
	</footer>
<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
<% include includes/foot.html %>
<script type="text/javascript">
 	kvm.module.invoke("/dist/js/lib/personCenterCollect.js?20151022");
</script>
