
<% include includes/head.html %>
	<div id="banner" >
		<div class="bg">
			<img src="<%=user.bgimg %>" width="1897" alt="" title=""/>
			<form method="post" name="form" encType="multipart/form-data" title="改变背景" action="uploadbgImg">
				<input type="hidden" name="username" value="<%=user.username %>"/>
				<input type="hidden" name="url" value="/personCenter"/>
				<input type="file" name="bgimg" accept="image/*" title="改变背景" id="changeBg"/>
			</form>
		</div>
		<div class="jumbotron-des">
			<div class="jump-middle">
				<h3><%=personinfo.name %></h3>
				<p><%=personinfo.sign %></p>
			</div>
		</div>
	</div>
	<section class="main" id="main" style="background-color:#fff">
		<div >
			<div class="center-choose">
				<a class="me " href="/personCenterMe">
					<i></i>
					<p>我</p>
				</a>
				<a class="message " href="/personCenterMessage">
					<i></i>
					<p>消息</p>
				</a>
				<a class="appointment active" href="/personCenter">
					<i></i>
					<p>预约</p>
					
				</a>
				<a class="collection" >
					<i></i>
					<p>收藏</p>
					
				</a>
			</div>
			<ul class="show">
					
				<table  border="0" cellpadding="0" cellspacing="0" bordercolor="#dedede">
						<thead>
							<tr>
								<th>预约号</th><th>公寓编号</th><th>客户姓名</th><th>联系方式</th><th>入住时间</th><th>提交时间</th><th>预约类型</th>
							</tr>
						</thead>
						<tbody>
						<% appoints.forEach(function(appoint){ %>
							<tr>
								<td><%=appoint._id %></td>
								<td>
									<% if( appoint.area != '' ){ %>

										<%=appoint.area %>
									<% } %>
								</td>
								<td><%=appoint.user %></td>
								<td><%=appoint.telephone %></td>
								<td><%=appoint.startTime %> -- <%=appoint.endTime %></td>
								<td><%=appoint.createTime %></td>
								<td><%=appoint.state %></td>
							</tr>
							<% }) %>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="7">
									<% if( count != 1 ){ %>
										<a href="personCenter?count=<%= (count-1) %>" class="pre" >上一页</a> 
									<% } %>

									<span><strong><%=count %></strong>/<%=all %></span> 

									<% if( count != all && count != 0  ){ %>
										<a class="next " href="personCenter?count=<%= (count+1) %>">下一页</a>
									<% } %>
									 <input type="hidden" name="allnum" value="<%=all %>" /> 
									<input type="text" name="pagenum" value="" /> 
									<a class="trun" href="javascript:void(0)" class="trun-page" id="trun-page">
										跳转
									</a>
									
								</td>
							</tr>
						</tfoot>
					</table>
				
				

			</div>
		</div>
	</section>

	<footer class="footer">
		<div id="footer">
			<div class="wrap">
				<div class="copyRight">
					<p>© 2015  租租侠版权所有</p>
				</div>
				<div class="wrap-r">
					<a href="#">用户协议</a>
					<a href="#">投诉建议</a>
					<a href="#">联系我们</a>
				</div>
			</div>
		</div>
	</footer>
<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
<% include includes/foot.html %>
