<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="大学生,创业,租房" />
	<meta name="description" content="租租侠"/>
	<title></title>
</head>

<body>
</body>
<script>
	//响应事件
	window.addEventListener('message',function(event) {

		console.log(event);
		console.log(event.origin);
		// if(event.origin !== 'http://davidwalsh.name') return;
		console.log('message received:  ' + event.data,event);
		event.source.postMessage('holla back youngin!',event.origin);
	},false);

</script>
</html>
