* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", arial;
  font-size: 14px;
  backgroun-color: #ffffff;
}
header,
nav,
section {
  display: block;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
.clearfix{
  zoom:1;
}
.clearfix:before,.clearfix:after{
  content:"";
  display: table;
}
.clearfix:after{clear:both;} 
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.table {
  display: table;
  width: 100%;
}
.table-cell {
  display: table-cell;
}
.header {
  position: relative;
  z-index: 10;
  height: 54px;
  width: 100%;
  background-color: #fff;
}
.header .container {
  padding: 0 249px;
}
.peroson-info {
  position: relative;
  color: #690;
  padding: 0 12px;
  display: inline-block;
  cursor: pointer;
  line-height: 54px;
}
.peroson-info .dropMenu {
  display: none;
  position: absolute;
  top: 54px;
  left: 35px;
  background-color: #ffffff;
  z-index: 100;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-top: none;
}
.peroson-info .dropMenu:before {
  content: '';
  position: absolute;
  top: -20px;
  right: 50%;
  width: 0;
  height: 0;
  border: none;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  z-index: 1000;
}
.peroson-info .dropMenu a {
  display: block;
  width: 104px;
  line-height: 40px;
  color: #333;
  font-size: 16px;
  color: #999;
  text-align: center;
}
.peroson-info .dropMenu a:hover {
  color: #690;
}
.peroson-info li {
  display: block;
  border-bottom: 1px solid #e0e0e0;
}
.peroson-info li:nth-of-type(1) {
  background: url('../image/personCenter-icon.png') no-repeat 6px 0;
}
.peroson-info li:nth-of-type(2) {
  background: url('../image/personCenter-icon.png') no-repeat 6px -34px;
}
.peroson-info li:nth-of-type(3) {
  background: url('../image/personCenter-icon.png') no-repeat 6px -73px;
}
.peroson-info li:nth-of-type(4) {
  background: url('../image/personCenter-icon.png') no-repeat 6px -112px;
}
.peroson-info li:nth-of-type(5) {
  background: url('../image/personCenter-icon.png') no-repeat 6px -150px;
}
.container {
  max-width: 1900px;
  margin: 0 auto;
}
.header-logo {
  float: left;
}
.header-logo a {
  display: inline-block;
  vertical-align: middle;
}
.header-logo img {
  display: block;
}
.header-logo span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  padding-bottom: 10px;
}
.header-logo h3 {
  display: block;
  font-size: 25px;
  color: #ff9933;
  height: 23px;
  margin-bottom: 9px;
}
.header-logo p {
  font-size: 10px;
  color: #666666;
}
.header-nav {
  float: left;
  position: relative;
  left: 70px;
  overflow: hidden;
}
.header-nav li {
  float: left;
  margin-right: 60px;
}
.header-nav a {
  display: block;
  font-size: 16px;
  color: #333333;
  line-height: 54px;
  transition: .2s color ease;
}
.header-nav a:hover {
  color: #690;
}
.header-contact {
  position: relative;
  float: right;
}
.header-contact a {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  position: relative;
}
.phone {
  color: #669900;
  margin-right: 16px;
  line-height: 54px;
}
.icon-phone {
  background: url('../image/header-icon.png') no-repeat;
  margin-right: 25px;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
}
.login,
.reg {
  color: #669900;
  padding: 0 12px;
  border-right: 1px solid #c0bdbd;
}
.qr {
  padding-left: 10px;
  border-left: 1px solid #ccc;
}
.qr:hover .qr-show {
  display: block;
}
.icon-qr {
  display: block;
  width: 20px;
  height: 20px;
  background: url('../image/header-icon.png') 0 -15px;
  transition: .2s all ease;
}
.icon-qr:hover {
  background: url('../image/header-icon.png') 0 -39px;
}
.qr-show {
  position: absolute;
  top: 30px;
  right: -100%;
  padding: 11px 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 11;
  background-color: #fff;
  display: none;
}
.qr-show img {
  display: block;
  margin-bottom: 9px;
}
.qr-show p {
  display: block;
  text-align: center;
  color: #666;
  font-size: 13px;
  margin-bottom: 6px;
}
.icon-arrow-top {
  position: absolute;
  top: -7.5px;
  right: 30px;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  transform: rotate(45deg);
  z-index: -1;
  background-color: #fff;
  border-right: none;
  border-bottom: none;
}
#roomShow {
  position: relative;
  width: 100%;
  z-index: 1;
  opacity: 0;
  top: -7px;
}
#banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
}
.banner ul,
.room-banner ul {
  width: 100%;
  position: relative;
  height: 700px;
  overflow: hidden;
}
.banner li,
.room-banner li {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.banner li.active,
.room-banner li.active {
  opacity: 1;
  left: 0;
}
.banner a,
.room-banner a {
  display: block;
  cursor: default;
}
.banner img,
.room-banner img {
  display: block;
  width: 100%;
  height: auto;
}
.search-fiexd {
  position: fixed !important;
  top: -25px !important;
}
.btn-pre {
  position: absolute;
  left: 0;
  z-index: 12;
  cursor: pointer !important;
  width: 50px;
  height: 108px;
  top: 50%;
  margin-top: -54px;
  background: rgba(51, 51, 51, 0.2) url('../image/btn-pre.png') no-repeat center;
}
.btn-pre:hover {
  background-color: rgba(51, 51, 51, 0.5);
}
.btn-next {
  position: absolute;
  right: 0;
  z-index: 12;
  cursor: pointer !important;
  width: 50px;
  height: 108px;
  top: 50%;
  margin-top: -54px;
  background: rgba(51, 51, 51, 0.2) url('../image/btn-next.png') no-repeat center;
}
.btn-next:hover {
  background-color: rgba(51, 51, 51, 0.5);
}
.banner-search {
  position: absolute;
  top: 660px;
  left: 0;
  background-color: rgba(51, 51, 51, 0.5);
  width: 100%;
  padding: 32px 0 20px 0;
  z-index: 12;
  display: none;
}
.banner-search .container {
  text-align: center;
}
.wrap {
  margin: 0 auto;
  max-width: 980px;
}
.banner-form .active {
  display: block !important;
}
.banner-form ul {
  display: block;
  width: 975px;
  height: 40px;
  background-color: #fff;
}
.banner-form li {
  float: left;
  border-right: 1px solid #dfdfdf;
  position: relative;
  width: 195px;
}
.banner-form li table{
  table-layout: fixed;
  width:100%;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}
.banner-form li td {
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.banner-form li:nth-of-type(1) dd {
  display: none;
}
.banner-form li:nth-of-type(1) a {
  display: block;
  text-align: left;
  color: #333;
  padding: 8px 16px 8px 8px;
}
.banner-form li:nth-of-type(1) a:hover {
  background-color: #CCC;
}
.banner-form li:nth-of-type(3) dd {
  overflow: hidden;
  display: none;
}
.banner-form li:nth-of-type(3) a {
  float: left;
  display: inline-block;
  line-height: 27px;
  color: #333;
  margin: 8px 9px;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.banner-form li:nth-of-type(3) td:hover{
 background-color: #CCC;
 color:#fff;
}
.banner-form li:last-child {
  border-right: none;
}
.banner-form dl {
  position: relative;
  width: 100%;
}
.banner-form dt {
  width: 100%;
  line-height: 40px;
  color: #999;
  font-size: 13px;
  position: relative;
  text-align: left;
  padding: 0 16px 0 8px;
}
.banner-form dd {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-top: none;
}
.banner-form input {
  line-height: 39px;
  width: 100%;
  display: block;
  border: none;
  outline: none;
  padding: 0 0 0 8px;
}
.banner-form button {
  width: 100%;
  display: block;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  background-color: #669900;
  border: none;
}
.banner-form .icon-arrow-botom {
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 8px solid #999;
  top: 50%;
  margin-top: -5px;
  right: 16px;
  color: #333;
}
.tab {
  position: absolute;
  top: -43px;
}
.tab-a {
  float: left;
  position: relative;
  width: 158px;
  line-height: 55px;
  background-color: #669900;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.tab-a i {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: -10px;
  border: 10px solid #690;
  z-index: 99;
  transform: rotate(45deg);
}
.tab-b {
  float: left;
  position: relative;
  width: 158px;
  line-height: 55px;
  background-color: #669900;
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin-left: 18px;
}
.main {
  width: 100%;
  margin-top: 697px;
}
#main {
  width: 100%;
  padding-bottom: 32px;
  background-color: #edefed;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.title {
  width: 100%;
}
.title span {
  font-size: 54px;
  display: block;
  text-align: center;
  width: 100%;
  line-height: 137px;
  color: #999;
}
.show-table{
  width:100%;
  padding: 0 69px 0 69px;
}
.show {
  width: 100%;
  padding: 0 69px 0 69px;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.middle-div{
   margin: 0 3.5%;
}
.show-table input{
  width:50px;
}
.show-table table{
  width:100%;
  font-size: 13px;
  color:#666;
  margin-top:40px;
   border-left:1px solid #ebebeb;
  border-top:1px solid #ebebeb;
}
.show-table table tfoot td{
  padding-top:45px;
}
.show-table td,.show-table th{
  padding:10px 0;
  border-right:1px solid #ebebeb;
  border-bottom:1px solid #ebebeb;
  text-align: center;
}
.show-table a{
  color:#666;
}
.disabled{
    cursor: no-drop;
}
.show-table .pre{
  margin-right: 44px
}
.show-table .next{

  margin-left: 44px;
  margin-right: 24px;
}
.show-table .trun{
  position: relative;
}
.thumbnail {
  width: 31%;
  margin-bottom: 42px;
  position: relative;
}
.thumbnail .thumbnail-body {
  text-decoration: none;
  transition: color 1s;
  position: relative;
  z-index: 2;
  display: block;
}
.thumbnail .thumbnail-body:hover .mask {
  opacity: 1;
}
.thumbnail p {
  letter-spacing: 1px;
}
.thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: opacity 1s;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.mask .table-cell {
  vertical-align: middle;
}
.mask h3 {
  font-size: 20px;
  color: #FFF;
  padding: 10px;
}
.ma {
  border: 1px solid #FFF;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FFF;
}
.mask-icon {
  padding-top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  cursor: default;
  position: relative;
  top: -40px;
  z-index: 1;
}
.mask-icon span {
  vertical-align: middle;
  display: inline-block;
  width: 27px;
  height: 30px;
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
}
.share-icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s all ease-in-out;
  z-index: 99;
  width: 75px;
  overflow: hidden;
}
.share-icon p {
  width: 27px;
  height: 25px;
  float: right;
  margin-right: 10px;
}
.btn-share {
  position: relative;
  float: left;
  background: url('../image/other-login-icon.png') no-repeat 0 -100px;
}
.btn-share:hover .share-icon {
  opacity: 1;
  left: 40px;
}
.btn-coll {
  background: url('../image/other-login-icon.png') no-repeat 0 -136px;
}
.btn-dele {
  float: right;
  background: url('../image/other-login-icon.png') no-repeat 0 -174px;
}
.scoll-pic {
  width: 100%;
  position: relative;
  background-color: #d6d6d6;
  overflow: hidden;
}
.scoll-pic li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  background-color: #fff;
}
.scoll-pic li.active {
  opacity: 1;
}
.scoll-pic a {
  display: block;
  width: 100%;
}
.sroll-num {
  position: absolute;
  top: 249px;
  left: 50%;
  overflow: hidden;
  margin-left: -54px;
  z-index: 99;
}
.sroll-num li {
  float: left;
  margin-right: 18px;
}
.sroll-num li.active a {
  background-color: #999;
}
.sroll-num a {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background-color: #e1dfdf;
}
.footer {
  position: relative;
  z-index: 12;
  background-color: #696969;
  width: 100%;
}
#footer {
  width: 100%;
  padding: 45px 0;
}
#footer .wrap {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.copyRight {
  float: left;
}
.copyRight p {
  font-size: 13px;
  color: #ececec;
  display: block;
}
.wrap-r {
  float: right;
}
.wrap-r a {
  display: inline-block;
  font-size: 13px;
  color: #ececec;
  padding: 0 10px;
}
.wrap-r a:nth-of-type(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.detail-messaege {
  max-width: 1400px;
  padding-top: 50px;
}
.detail-messaege .table-cell {
  width: 50%;
  vertical-align: top;
}
.house-name {
  width: 100%;
  margin-bottom: 13px;
}
.house-name p {
  color: #333;
  font-size: 20px;
  margin-right: 32px;
  display: inline-block;
  vertical-align: middle;
}
.house-name span {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 20px;
  border: 1px solid #ff7519;
  border-radius: 4px;
  color: #ff8533;
  font-size: 16px;
}
.house-detail ul {
  display: block;
  width: 100%;
}
.house-detail li {
  padding-left: 60px;
  margin-top: 39px;
  min-height: 36px;
  position: relative;
}
.house-detail li i {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  height: 100%;
}
.house-detail li:nth-of-type(1) i {
  background: url('../image/house-detail-icon.png') no-repeat -30px center;
}
.house-detail li:nth-of-type(2) i {
  background: url('../image/house-detail-icon.png') no-repeat -104px center;
}
.house-detail li:nth-of-type(2) p {
  border-right: 1px solid #929292;
}
.house-detail li:nth-of-type(2) p:last-child {
  border: none;
}
.house-detail li:nth-of-type(3) i {
  background: url('../image/house-detail-icon.png') no-repeat -182px center;
}
.house-detail li:nth-of-type(4) i {
  background: url('../image/house-detail-icon.png') no-repeat -263px center;
}
.house-detail p {
  font-size: 16px;
  color: #333;
  vertical-align: middle;
  display: inline-block;
  padding-right: 10px;
  padding: 4px 20px;
}
.house-detail p.table-cell {
  width: auto;
}
.house-detail strong {
  color: #ff8533;
}
.house-detail span {
  color: #ff6600;
  vertical-align: middle;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #ff7519;
  border-radius: 4px;
  padding: 4px 20px;
}
.icon-room {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 100%;
  width: 37px;
  background: url('../image/house-detail-icon.png') no-repeat right center;
}
.house-config table {
  float: right;
}
.house-config thead {
  background-color: #f6f4f4;
}
.house-config thead th {
  color: #999;
  font-size: 16px;
  line-height: 70px;
  position: relative;
}
.house-config tr td {
  color: #333;
  font-size: 12px;
  line-height: 48px;
  height: 48px;
  width: 94px;
  text-align: center;
}
.appointmen {
  padding: 25px 0;
  overflow: hidden;
  width: 100%;
}
  
.btn-apt,.collect{
  font-size: 20px;
  color: #ff9933;
  padding: 12px 65px;
  float: right;
  border: 1px solid #f93;
}
.btn-apt:hover,.collect:hover{
  background-color:#f93;
  color:#fff;
}
.collect{
  margin-right: 15px;
}
.alreadyapt {
  font-size: 20px;
  color: #fff;
  padding: 12px 65px;
  float: right;
  background-color: #f93;
  cursor: no-drop;
}
.mapShow {
  position: relative;
}
.map-title {
  display: block;
  width: 100%;
}
.map-title li {
  float: left;
}
.map-title li.active a:after {
  background-color: red;
}
.map-title a {
  font-size: 16px;
  padding: 3px 30px;
  color: #333;
  position: relative;
}
.map-title a:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
}
#e1,
#e2 {
  width: 100%;
  height: 515px;
  border: 1px solid #ff9933;
  margin-bottom: 16px;
  overflow: hidden;margin:0;font-family:"微软雅黑";
}
.map-content {
  position: relative;
}
.btn-group {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #dedede;
  z-index: 999;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  display: none;
}
.btn-group h4 {
  font-size: 14px;
  color: #333;
  padding: 10px 5px;
  color: #fff;
}
.Bmap-choose label {
  display: block;
  font-size: 12px;
  color: #333;
  padding: 5px;
  color: #fff;
}
.Bmap-choose label input {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.apt-process {
  width: 100%;
  background-color: #ff9933;
  padding: 100px 0;
  position: relative;
  z-index: 10;
}
.apt-process .container {
  max-width: 1400px;
}
.apt-process ul {
  width: 100%;
  overflow: hidden;
}
.apt-process li {
  float: left;
  display: table;
  width: 20%;
}
.apt-process li:nth-of-type(1) .apt-icon {
  background: url('../image/houser-process-icon.png') no-repeat 0 5.08%;
}
.apt-process li:nth-of-type(2) .apt-icon {
  background: url('../image/houser-process-icon.png') no-repeat 0 25%;
}
.apt-process li:nth-of-type(3) .apt-icon {
  background: url('../image/houser-process-icon.png') no-repeat 0 46.45%;
}
.apt-process li:nth-of-type(4) .apt-icon {
  background: url('../image/houser-process-icon.png') no-repeat 0 70%;
}
.apt-process li:nth-of-type(5) .apt-icon {
  background: url('../image/houser-process-icon.png') no-repeat 0 92%;
}
.section-fz{
    width:100%;
    background-color:#f7f7f7;
    padding-bottom:60px;
  }

.section-fz h1{
  font-size: 33px;
  color:#666;
  padding:36px 0;
  text-align: center;
}
.fz-content{
  width: 1183px;
  margin:0 auto;
}
.fz-content p{
  color:#666;
  font-size: 18px;
  text-align: center;
  width:100%;
  line-height: 36px;
}
.fz-intro{
  margin:0 auto;
  text-align: center;
  margin-top:36px;
}
.fz-intro img{
  display: inline-block;
  vertical-align: top;
  -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);  
}
.intro-message{
  display: inline-block;
    margin-left: 75px;
}
.intro-message span{
  display: block;
  font-size: 18px;
  margin-bottom:28px;
  text-align: left;
}
.tele{
    background: url('../image/fz-icon.png') no-repeat 0 -43px;
  padding-left: 57px;
  height: 74px;
  line-height: 74px;
}
.intro-wx{
  height: 142px;
  background: url('../image/fz-icon.png') no-repeat 0 -205px;
}
.apt-icon {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  height: auto;
  max-width: 91px;
  background-size: 100% auto !important;
}
.apt-des {
  display: table-cell;
  padding-left: 5px;
  vertical-align: middle;
}
.apt-des span {
  font-size: 27px;
  color: #fff;
  width: 100%;
  display: block;
  height: 41px;
}
.apt-des p {
  display: block;
  width: 100%;
  font-size: 17px;
  color: #fff;
  line-height: 36px;
}
.apt-fail{
  position: fixed;
  top:50%;
  left: 50%;
  transform:translate3d(-50%,-50%,0);
  z-index:100;
  padding:10px 30px;
  background-color:#fff;
  text-align: right;
  border-radius: 10px;
    box-shadow: 0 0 2px 2px #f5f5f5;
    display: none;
}
.apt-fail img{
   display: block;
}
.apt-fail p{
  color:#333;
  font-size:13px;
  margin: 0 auto;
  text-align: center;
  margin-bottom:26px;
}
.apt-fail a{
  color:#666;
}
.apt-fail .login, .apt-fail .reg{
  border:none;
  
}
.apt-fail .login:hover, .apt-fail .reg:hover{
  color:#669900;
}
#shawdow {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.3);
  display: none;
}
#shawdow .active {
  display: block;
}
.regFace,
.loginFace,
.getPassFace {
  width: 516px;
  height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -258px;
  margin-top: -180px;
  display: none;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.regFace legend,
.loginFace legend,
.getPassFace legend {
  width: 100%;
  line-height: 50px;
  padding-left: 25px;
  position: relative;
  color: #333;
  font-size: 16px;
  background-color: #f4f7f9;
  margin-bottom: 20px;
}
.close {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 12px;
  height: 10px;
  padding: 5px;
  margin-top: -5px;
  cursor: pointer;
  transition: .2s all ease;
  transform: rotate(0deg);
}
.close:hover {
  transform: rotate(360deg);
}
.close:hover:before,
.close:hover:after {
  background-color: #000;
}
.close:before {
  content: "";
  width: 2px;
  height: 150%;
  background-color: #666;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: top;
  transform: rotate(-45deg);
}
.close:after {
  content: "";
  width: 2px;
  height: 150%;
  background-color: #666;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: top;
  transform: rotate(45deg);
}
#shawdow .form-group {
  width: 100%;
  padding: 0 81px;
  margin-top: 20px;
  position: relative;
}
#shawdow .form-group input[type='text'],
#shawdow .form-group input[type='password'] {
  border: 1px solid #e7e7e7;
  padding: 12px 10px 12px 30px;
  color: #333;
  font-size: 12px;
  outline: none;
}
#shawdow .form-group label {
  font-size: 12px;
  color: #666;
}
#shawdow .form-group label input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
#shawdow .form-group a {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #6699cc;
}
#shawdow .form-group a:hover {
  text-decoration: underline;
}
.remember {
  overflow: hidden;
}
.remember label {
  float: left;
}
.norInput input {
  display: block;
  width: 100%;
}
.norInput input:nth-of-type(1) {
  border-bottom: none;
}
.spcInput {
  overflow: hidden;
}
.spcInput input {
  width: 180px;
  float: left;
}
.spcInput button {
  width: 153px;
  line-height: 40px;
  text-align: center;
  color: #333;
  font-size: 12px;
  float: right;
  border: 1px solid #c3c3c3;
  background-color: #f7f7f7;
  cursor: pointer;
}
.spcInput button:disabled {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  color: #999;
}
.submit {
  text-align: center;
}
.submit button {
  width: 150px;
  line-height: 34px;
  text-align: center;
  margin: 0 auto;
  background-color: #669900;
  color: #fff;
  font-size: 12px;
  border: none;
  letter-spacing: 1px;
}
.btn-getPass {
  color: #6699cc;
  font-size: 12px;
  float: right;
}
.other-login {
  margin-top: 58px !important;
}
.other-login label {
  color: #333;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}
.other-login a {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 25px;
  margin-right: 20px;
}
.wx-login {
  background: url('../image/other-login-icon.png') no-repeat 0 -14px;
}
.qq-login {
  background: url('../image/other-login-icon.png') no-repeat 0 -49px;
}
#centerMain {
  margin-top: 401px;
}
#jumbotron {
  width: 100%;
  position: relative;
}
.bg {
  width: 100%;
  position: relative;
}
.bg img {
  display: block;
  width: 100%;
  height: auto;
}
.bg form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
}
.bg input {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
.jumbotron-des {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  height: 186px;
  margin-top: -67px;
}
.jumbotron-des .jump-middle{
  position: relative;
  top:50%;
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
}
.jumbotron-des h3 {
  margin: 0 auto;
  width: 244px;
  height: 85px;
  border: 2px solid #fff;
  margin-bottom: 8px;
  font-size: 50px;
  color: #fff;
  overflow: hidden;
  word-wrap: normal;
}
.jumbotron-des p {
  font-size: 33px;
  color: #fff;
}
.center-choose {
  padding: 52px 0 0 0;
  border-bottom: 1px solid #cfcfcf;
  text-align: center;
  margin-bottom: 33px;
}
.center-choose a {
  display: inline-block;
  padding-bottom: 52px;
  cursor: pointer;
}
.center-choose .active {
  background: url('../image/person-center-icon.png') no-repeat 12px -274px;
}
.center-choose p {
  display: block;
  width: 50px;
  text-align: center;
  margin-top: 22px;
  font-size: 25px;
  color: #999;
}
.center-choose .active p{
  color:#000;
}
.center-choose i {
  display: block;
  width: 100%;
  height: 48px;
}
.me {
  margin-right: 95px;
}
.me i {
  background: url('../image/person-center-icon.png') no-repeat 0 -17px;
}
.message {
  margin-right: 95px;
}
.message i {
  background: url('../image/person-center-icon.png') no-repeat 0 -69px;
}
.appointment {
  margin-right: 95px;
}
.appointment i {
  background: url('../image/person-center-icon.png') no-repeat 0 -127px;
}
.collection {
  margin-right: 0;
}
.collection i {
  background: url('../image/person-center-icon.png') no-repeat 0 -190px;
}
.active i {
  background-position-x: -88px;
}
.message-edit {
  margin: 0 auto;
  width: 555px;
  margin-bottom: 10px;
}
.message-edit form {
  border: 1px solid #f0f0f0;
}
.message-edit legend {
  display: block;
  width: 100%;
  line-height: 62px;
  padding-left: 30px;
  border-bottom: 1px solid #f0f0f0;
  color: #666;
}
.message-edit fieldset {
  padding-left: 30px;
  border: none;
}
.center-message {
  width: 960px;
  margin: 0 auto;
}
.center-message table {
  width: 100%;
  border: 1px solid #ededed;
}
.center-message th {
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #d5d5d5;
  background-color: #f7f7f7;
  line-height: 42px;
}
.center-message tr {
  border-bottom: 1px solid #ededed;
}
.center-message tr td {
  border-bottom: 1px solid #d5d5d5;
}
.center-message tr td a {
  font-size: 13px;
  display: block;
  line-height: 42px;
}
.center-message tr td:nth-of-type(1) {
  padding-left: 22px;
}
.center-message tr td:nth-of-type(1) a {
  color: #333;
}
.center-message tr td:nth-of-type(1) a:hover {
  color: #690;
}
.center-message tr td:nth-of-type(2) {
  padding-right: 22px;
  text-align: right;
}
.center-message tr td:nth-of-type(2) a {
  color: #999;
}
.center-message strong {
  background-color: #ff3333;
  color: #fff;
  padding: 2px 2px;
  font-size: 2px;
  vertical-align: middle;
  border-radius: 4px;
}
.detail-mess p {
  margin: 20px 10px;
  font-size: 12px;
  letter-spacing: 2px;
}
.detail-mess div {
  display: none;
  overflow: hidden;
}
#main .form-group {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}
#main .form-group label {
  font-size: 12px;
  color: #999;
  line-height: 44px;
  margin-right: 27px;
}
#main .form-group input[type='text'] {
  width: 60%;
  border: none;
  font-size: 12px;
  color: #333;
  vertical-align: middle;
  outline: none;
}
#main .form-group input[type='radio'] {
  vertical-align: middle;
  font-size: 12px;
  color: #333;
}
.choose-school,
.choose-interset {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
.gj,
.sf,
.list,
.interset-type {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: none;
  max-height: 98px;
  overflow-y: scroll;
}
.gj a,
.sf a,
.list a,
.interset-type a {
  float: left;
  color: #666666;
  font-size: 12px;
  margin-right: 15px;
}
.check {
  background-color: #8ee5ee;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  border: none;
  padding: 4px 10px;
  float: right;
  border-radius: 4px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1600px) {
  #header .container {
    max-width: 1900px;
  }
}
@media screen and (max-width: 1600px) {
  .container {
    max-width: 1400px;
  }
  .header .container {
    padding: 0 100px;
  }
}
@media screen and (max-width: 1400px) {
  #main .container {
    max-width: 1200px;
  }
  .apt-process .container {
    max-width: 1200px;
  }
  .apt-process p {
    font-size: 15px;
  }

  #footer .wrap {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .apt-des span {
    font-size: 23px;
  }
}
.error {
  position: absolute;
  left: 41%;
  top: 0;
  font-size: 12px;
  color: red;
  display: none;
}
.errorL {
  display: none;
  font-size: 12px;
  color: red;
  text-align: center;
}
/*animate*/
@-moz-keyframes slide {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, -100px) rotateX(60deg) scale(0.8, 0.8);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateX(0) scale(1, 1);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, -100px) rotateX(60deg) scale(0.8, 0.8);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateX(0) scale(1, 1);
  }
}
@-o-keyframes slide {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, -100px) rotateX(60deg) scale(0.8, 0.8);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateX(0) scale(1, 1);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, -100px) rotateX(60deg) scale(0.8, 0.8);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateX(0) scale(1, 1);
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.fadeInDown{
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.animated-login {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
