
<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="大学生,创业,租房" />
	<meta name="description" content="租租侠"/>
	<link href="/dist/css/ZMB.css?20151020" rel="stylesheet" type="text/css"/>
	<link href="/dist/css/normalize.css?20151020" rel="stylesheet" type="text/css"/>
	<title>青年颂 --青年创客社区</title>
</head>

<body>
	<header id="header" >
		<div class="container clearfix">
			<div class="header-logo">
				<a href="/"><img src="/image/logo.png" title="租租侠" alt="租租侠" width="63" height="63"/></a>
				<span>
					<p>租租侠管理后台</p>
				</span>
			</div>
			<div class="header-quit">
				<a href="/quitManager" id="quit">退出</a>
			</div>
		</div>
	</header>