<% include include/head.html %>
<% include include/operate-head.html %>	

	<div class="main" id="main">
		
		<form >
			<a class="form-pic" href="/h5"></a>
			<div class="input-name">
				<input type="text" name="username" placeholder="请输入手机号"/>
			</div>
			<div class="input-pass">
				<input type="password" name="password" placeholder="请输入密码"/>
			</div>
			<div class="input-mess clearfix">
				<input type="text" name="message" placeholder="验证码" class="message"/>
				<a href="javascript:void(0)" class="get-code">获取验证码</a>
			</div>
			<div class="input-submit">
				<button type="button" class="btn-sub">注册</button>
			</div>
		</form>
	</div>

<% include include/foot.html %>