
<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="大学生,创业,租房,白领" />
	<meta name="description" content="青年颂"/>
	<link href="/dist/css/index.css?upDate=20151030" rel="stylesheet" type="text/css"/>
	<link href="/dist/css/normalize.css?upDate=20151030" rel="stylesheet" type="text/css"/>
	<title>青年颂 --青年创客社区</title>
</head>

<body>


<!--  头部 -->
<header class="header " id="header">
	<div class="container clearfix">
		<div class="header-logo">
			<a href="/"><img src="/image/newlogo.png" title="青年颂" alt="青年颂" width="352" height="50"/></a>
		</div>
		<div class="header-contact">
			<a href="" class="phone">租房热线  0571-88208777</a>
			<% if( user.username ) {%>
				<div class="peroson-info"  id="dropRole" 
				<% if( user.nameID.name == '' ){ %>
					title="<%= user.username %>"> 
					<p><%= user.username %></p>
				<%}else{ %>
					title="<%= user.nameID.name %>"> 
					<p><%= user.nameID.name %></p>

				<% } %>
				
				<ul class="dropMenu" id="dropMenu">
					<li><a href="/pc/personCenterMe">我</a></li>
					<li><a href="/pc/personCenterMessage">消息</a></li>
					<li><a href="/pc/personCenter">预约</a></li>
					<li><a href="/pc/personCenterCollect">收藏</a></li>
					<li><a href="javascript:void(0)" id="loginOut" data-action="lgoinOut" data-url="/admin/loginOut">退出</a></li>
				</ul>
			</div>
			<a href="" class="qr">
			<% } else{ %>
				<a href="javascript:void(0)" class="login" data-action="open-login-modal" id="loginIn">登陆</a>
				<a href="javascript:void(0)" class="reg" data-action="open-reg-modal">注册</a>
				<a href="" class="qr" style="border:none">
			<% } %>
			
				<i class="icon-qr"></i>
				<div class="qr-show">
					<i class="icon-arrow-top"></i>
					<img src="/image/qrcode.png" alt="青年颂" title="二维码" width="89" height="90"/>
					<p>微信扫一扫</p>
					<p>关注我们</p>
				</div>
			</a>
		</div>
	</div>
</header>
<div class="message-modal" id="message-modal">
		<div class="modal-body">
			<div class="message-no-login" id="message-no-login">
				<i class="icon icon-no-login"></i>
				<span >您还未登录</span>
			</div>
			<div class="message-no-perfect" id="message-no-perfect">
				<i class="icon icon-no-perfect"></i>
				<span>请去个人中心完善信息(电话和姓名)</span>
			</div>
			<div class="message-no-perfect" id="message-apt-success">
				<i class="icon icon-no-perfect"></i>
				<span>预约成功</span>
			</div>
		</div>
	</div>