<div class="foot" id="foot">
		<div class="container clearfix">
			<p class="copyRight">© 2015  租租侠版权所有</p>
			<div class="right">
				<a href="javascript:void(0)">用户协议</a>
				<a href="javascript:void(0)">投诉建议</a>
				<a href="javascript:void(0)">联系我们</a>
			</div>
		</div>
	</div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/dist/js/config/kvm.js"></script>
<script type="text/javascript" src="/dist/js/config/kvm-plugins.js"></script>
<script type="text/javascript" src="/dist/js/config/config.js?t=20151118"></script>

<script type="text/javascript">
 	kvm.module.invoke("/dist/js/lib/phone.js?t=20151118");
</script>
</body>
</html>